# Python Virtual Enviornment:
/[Ee]nv/

# SQL Database:
database.db

# Any file that ends with the .db extension
*.db

# This entire Directory! 
/static/Profile_Pics/

# VSCode:
/.vscode/

# Pycache: 
/__pycache__/

# Custom Mac OS File (not needed)
.DS_Store



*.db
adviseme/database.db
*.pyc
