# Python Virtual Enviornment:
/[Ee]nv/

# SQLite Database Instance:
database.db

# Any file that ends with the .db extension
*.db

# This entire Directory! 
/static/Profile_Pics/
/static/Transcript/

# VSCode:
/.vscode/

# Pycache: 
/__pycache__/

# Custom Mac OS File (not needed)
.DS_Store

# Ignore the enitre Transcript Directory So that I don't accidentally push my Student Unofficial Transcript AGAIN!!! 
*adviseme\static\Transcripts
*adviseme/static/Transcripts

*.db
adviseme/database.db
*.pyc
adviseme/database.db
*.db
