{% extends "layout.html" %}
{% block content %}
  {% if current_user.FacultyOwner.staff_role == 'Academic Advisor'%}
    {% for note in notes %}
      {%if note.Owner.credit_earned <= 45 and note.be_advised ==False %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ note.Owner.firstname }}</a>
            </div>
            <h2><a class="article-title" href="{{ url_for('academicAdvising', note_id=note.id) }}"> Notes </a></h2>
          </div>
        </article>
      {%endif%}
    {% endfor %}
  {%endif%}

  {% if current_user.FacultyOwner.staff_role == 'Faculty Advisor'%}
    {% for note in notes %}
      {%if note.Owner.credit_earned > 45 and note.be_advised ==False %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ note.Owner.firstname }}</a>
            </div>
            <h2><a class="article-title" href="{{ url_for('academicAdvising', note_id=note.id) }}">Note</a></h2>
          </div>
        </article>
      {%endif%}
    {% endfor %}
  {%endif%}
{% endblock content %}