{% extends "layout.html" %}
{% block content %}

<h1>Live Advisement Page!</h1>
<form method="POST" action="" enctype="multipart/form-data" role="form">
    {{ form.hidden_tag() }}
<table class="table table-striped bg-light text-center">
    <thead>
        <tr class="text-muted">
            <th>Course Code:</th>
            <th>Credits awarded:</th>
            <th>Course Name:</th>
            <th>Grade:</th>
            <th>intend to take</th>
        </tr>
    </thead>
    
    {{ form.csrf_token }}
    {{ form.course }}
    {{ form.submit }}
</form>
{% endblock content %}