{% extends "layout.html" %}
{% block content %}


 <section >
  <div class="container content-section my-5" style="max-width:80%;">
     <div class="jumbotron bg-cover text-white" style="background-image: linear-gradient(to bottom, rgba(255,255,255,0.4) 0%,rgba(255,255,255,0.6) 100%), url('../static/Images/adNoteBg.svg'); padding-bottom: 55%;" >
    <div class="row align-items-end gutter-2">
      <div class="col-lg-8" style="font-family:Roboto;">
        <h2>Notes from Your Adivisor</h2>
      </div>
      <div class="col-lg-4 text-lg-right">

      </div>
    </div>

    <hr class="my-4">

    <div class="row">

      <div class="col">
        <div class="accordion accordion-minimal" id="accordion-2">


         {% for note in notes %}
           <div class="card">
            <div class="card-header" id="heading-2-2">
              <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target={{ "#c" ~ note.id }} aria-expanded="false" aria-controls={{ "c" ~ note.id}}>
                  {{note.semester}} {{ note.year }}
                </button>
              </h2>
            </div>

            <div id= {{ "c" ~ note.id }} class="collapse" aria-labelledby="heading-2-2" data-parent="#accordion-2">
              <div class="card-body">
                  <div class="list-group">
                    <a href= "{{ url_for('advisingNotes', note_id=note.id) }}"  class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                          <h6 class="mb-1 col-8">{{ note.date }} Advising Note</h6>
                        </div>
                    </a>

                  </div>

              </div>
            </div>
          </div>
         {% endfor %}


        </div>

      </div>

    </div>
  </div>
  </div>
</section>





{% endblock content %}

