{% extends "layout.html" %}
{% block content %}
<hr>
<center><h1 class="titlehead">Computer Science Course Checklist</h1></center>
<hr>
   <div class="container">
    <!--Math Checklist -->
    <section class="checklist">
        <h2 class="checklist__title">Math</h2>
        <span class="checklist__title-border"></span>
        <span class="checklist__percentage-border"></span>
        <ul class="checklist-container">
         <li class="checklist-item">
          <input id="" type="checkbox" /><label for="" class="checkbox"></label><span class="checklist-item__title">Math 20100</span>
          <button class="checklist-item__expand" aria-label="Toggle Info" title="Toggle More Information">
                          <span class="line"></span>
                      </button>
          <div class="info-container">
           <div class="info">
               <ul>
                   <li>Course Name: Calculus I</li>
                   <li>Total Credits Earned: 3 </li>
                   <li>Grade: </li>
                   <li>Semester Completed: </li>
               </ul>
           </div>
          </div>
         </li>

         <li class="checklist-item">
            <input id="" type="checkbox" /><label for="" class="checkbox"></label><span class="checklist-item__title">Math 20200</span>
            <button class="checklist-item__expand" aria-label="Toggle Info" title="Toggle More Information">
                            <span class="line"></span>
                        </button>
            <div class="info-container">
             <div class="info">
                 <ul>
                     <li>Course Name: Calculus II</li>
                     <li>Total Credits Earned: 3 </li>
                     <li>Grade: </li>
                     <li>Semester Completed: </li>
                 </ul>
             </div>
            </div>
           </li>

           <li class="checklist-item">
            <input id="" type="checkbox" /><label for="" class="checkbox"></label><span class="checklist-item__title">Math 20300</span>
            <button class="checklist-item__expand" aria-label="Toggle Info" title="Toggle More Information">
                            <span class="line"></span>
                        </button>
            <div class="info-container">
             <div class="info">
                 <ul>
                     <li>Course Name: Calculus III</li>
                     <li>Total Credits Earned: 4 </li>
                     <li>Grade: </li>
                     <li>Semester Completed: </li>
                 </ul>
             </div>
            </div>
           </li>

           <li class="checklist-item">
            <input id="" type="checkbox" /><label for="" class="checkbox"></label><span class="checklist-item__title">Math 34600</span>
            <button class="checklist-item__expand" aria-label="Toggle Info" title="Toggle More Information">
                            <span class="line"></span>
                        </button>
            <div class="info-container">
             <div class="info">
                 <ul>
                     <li>Course Name: Linear Algebra</li>
                     <li>Total Credits Earned: 3 </li>
                     <li>Grade: </li>
                     <li>Semester Completed: </li>
                 </ul>
             </div>
            </div>
           </li>
        </section>
    <!--Science Checklist -->
    <section class="checklist">
        <h2 class="checklist__title">Science</h2>
        <span class="checklist__title-border"></span>
        <span class="checklist__percentage-border"></span>
        <ul class="checklist-container">
         <li class="checklist-item">
          <input id="" type="checkbox" /><label for="" class="checkbox"></label><span class="checklist-item__title">Bio 10100</span>
          <button class="checklist-item__expand" aria-label="Toggle Info" title="Toggle More Information">
                          <span class="line"></span>
                      </button>
          <div class="info-container">
           <div class="info">
               <ul>
                   <li>Course Name: Biological Foundations I</li>
                   <li>Total Credits Earned: 4 </li>
                   <li>Grade: </li>
                   <li>Semester Completed: </li>
               </ul>
           </div>
          </div>
         </li>

         <li class="checklist-item">
            <input id="" type="checkbox" /><label for="" class="checkbox"></label><span class="checklist-item__title">Bio 10200</span>
            <button class="checklist-item__expand" aria-label="Toggle Info" title="Toggle More Information">
                            <span class="line"></span>
                        </button>
            <div class="info-container">
             <div class="info">
                 <ul>
                     <li>Course Name: Biological Foundations II</li>
                     <li>Total Credits Earned: 4 </li>
                     <li>Grade: </li>
                     <li>Semester Completed: </li>
                 </ul>
             </div>
            </div>
           </li>

           <li class="checklist-item">
            <input id="" type="checkbox" /><label for="" class="checkbox"></label><span class="checklist-item__title">Chem 10301</span>
            <button class="checklist-item__expand" aria-label="Toggle Info" title="Toggle More Information">
                            <span class="line"></span>
                        </button>
            <div class="info-container">
             <div class="info">
                 <ul>
                     <li>Course Name: General Chemistry I</li>
                     <li>Total Credits Earned: 4 </li>
                     <li>Grade: </li>
                     <li>Semester Completed: </li>
                 </ul>
             </div>
            </div>
           </li>

           <li class="checklist-item">
            <input id="" type="checkbox" /><label for="" class="checkbox"></label><span class="checklist-item__title">Chem 10401</span>
            <button class="checklist-item__expand" aria-label="Toggle Info" title="Toggle More Information">
                            <span class="line"></span>
                        </button>
            <div class="info-container">
             <div class="info">
                 <ul>
                     <li>Course Name: General Chemistry I</li>
                     <li>Total Credits Earned: 4</li>
                     <li>Grade: </li>
                     <li>Semester Completed: </li>
                 </ul>
             </div>
            </div>
           </li>

           <li class="checklist-item">
            <input id="" type="checkbox" /><label for="" class="checkbox"></label><span class="checklist-item__title">Phys 20700</span>
            <button class="checklist-item__expand" aria-label="Toggle Info" title="Toggle More Information">
                            <span class="line"></span>
                        </button>
            <div class="info-container">
             <div class="info">
                 <ul>
                     <li>Course Name: General Physics I</li>
                     <li>Total Credits Earned: 4</li>
                     <li>Grade: </li>
                     <li>Semester Completed: </li>
                 </ul>
             </div>
            </div>
           </li>

           <li class="checklist-item">
            <input id="" type="checkbox" /><label for="" class="checkbox"></label><span class="checklist-item__title">Phys 20800</span>
            <button class="checklist-item__expand" aria-label="Toggle Info" title="Toggle More Information">
                            <span class="line"></span>
                        </button>
            <div class="info-container">
             <div class="info">
                 <ul>
                     <li>Course Name: General Physics II</li>
                     <li>Total Credits Earned: 4</li>
                     <li>Grade: </li>
                     <li>Semester Completed: </li>
                 </ul>
             </div>
            </div>
           </li>
           <p>Note: Required to only take 1 sequence and 1 other science course</p>
        </section>   

        <!--Liberal Art Checklist -->
    <section class="checklist">
        <h2 class="checklist__title">Liberal Arts:</h2>
        <span class="checklist__title-border"></span>
        <span class="checklist__percentage-border"></span>
        <ul class="checklist-container">
         <li class="checklist-item">
          <input id="" type="checkbox" /><label for="" class="checkbox"></label><span class="checklist-item__title">Spch 11100</span>
          <button class="checklist-item__expand" aria-label="Toggle Info" title="Toggle More Information">
                          <span class="line"></span>
                      </button>
          <div class="info-container">
           <div class="info">
               <ul>
                   <li>Course Name: Foundations of Speech Comm.</li>
                   <li>Total Credits Earned: 3 </li>
                   <li>Grade: </li>
                   <li>Semester Completed: </li>
               </ul>
           </div>
          </div>
         </li>

         <li class="checklist-item">
            <input id="" type="checkbox" /><label for="" class="checkbox"></label><span class="checklist-item__title">Engl 11000</span>
            <button class="checklist-item__expand" aria-label="Toggle Info" title="Toggle More Information">
                            <span class="line"></span>
                        </button>
            <div class="info-container">
             <div class="info">
                 <ul>
                     <li>Course Name: Freshmen Comp</li>
                     <li>Total Credits Earned: 3 </li>
                     <li>Grade: </li>
                     <li>Semester Completed: </li>
                 </ul>
             </div>
            </div>
           </li>

           <li class="checklist-item">
            <input id="" type="checkbox" /><label for="" class="checkbox"></label><span class="checklist-item__title">Engl 21007</span>
            <button class="checklist-item__expand" aria-label="Toggle Info" title="Toggle More Information">
                            <span class="line"></span>
                        </button>
            <div class="info-container">
             <div class="info">
                 <ul>
                     <li>Course Name: Writing for Engineering</li>
                     <li>Total Credits Earned: 3 </li>
                     <li>Grade: </li>
                     <li>Semester Completed: </li>
                 </ul>
             </div>
            </div>
           </li>

           <li class="checklist-item">
            <input id="" type="checkbox" /><label for="" class="checkbox"></label><span class="checklist-item__title">Eco 10400</span>
            <button class="checklist-item__expand" aria-label="Toggle Info" title="Toggle More Information">
                            <span class="line"></span>
                        </button>
            <div class="info-container">
             <div class="info">
                 <ul>
                     <li>Course Name: Economics</li>
                     <li>Total Credits Earned: 3 </li>
                     <li>Grade: </li>
                     <li>Semester Completed: </li>
                 </ul>
             </div>
            </div>
           </li>

                   <!--Liberal Art 1000 Level -->

                   <li class="checklist-item">
                    <input id="" type="checkbox" /><label for="" class="checkbox"></label><span class="checklist-item__title">Level 1000</span>
                    <button class="checklist-item__expand" aria-label="Toggle Info" title="Toggle More Information">
                                    <span class="line"></span>
                                </button>
                    <div class="info-container">
                     <div class="info">
                         <ul>
                             <li>Course Name: Economics</li>
                             <li>Total Credits Earned: 3 </li>
                             <li>Grade: </li>
                             <li>Semester Completed: </li>
                         </ul>
                     </div>
                    </div>
                   </li>
        
                   <li class="checklist-item">
                    <input id="" type="checkbox" /><label for="" class="checkbox"></label><span class="checklist-item__title">Level 1000</span>
                    <button class="checklist-item__expand" aria-label="Toggle Info" title="Toggle More Information">
                                    <span class="line"></span>
                                </button>
                    <div class="info-container">
                     <div class="info">
                         <ul>
                             <li>Course Name: Economics</li>
                             <li>Total Credits Earned: 3 </li>
                             <li>Grade: </li>
                             <li>Semester Completed: </li>
                         </ul>
                     </div>
                    </div>
                   </li>

        <!--Liberal Art 2000 Level -->

           <li class="checklist-item">
            <input id="" type="checkbox" /><label for="" class="checkbox"></label><span class="checklist-item__title">Level 2000</span>
            <button class="checklist-item__expand" aria-label="Toggle Info" title="Toggle More Information">
                            <span class="line"></span>
                        </button>
            <div class="info-container">
             <div class="info">
                 <ul>
                     <li>Course Name: Economics</li>
                     <li>Total Credits Earned: 3 </li>
                     <li>Grade: </li>
                     <li>Semester Completed: </li>
                 </ul>
             </div>
            </div>
           </li>

           <li class="checklist-item">
            <input id="" type="checkbox" /><label for="" class="checkbox"></label><span class="checklist-item__title">Level 2000</span>
            <button class="checklist-item__expand" aria-label="Toggle Info" title="Toggle More Information">
                            <span class="line"></span>
                        </button>
            <div class="info-container">
             <div class="info">
                 <ul>
                     <li>Course Name: Economics</li>
                     <li>Total Credits Earned: 3 </li>
                     <li>Grade: </li>
                     <li>Semester Completed: </li>
                 </ul>
             </div>
            </div>
           </li>
        
        </section>
    <!--Computer Science Checklist -->
    <section class="checklist">
     <h2 class="checklist__title">Computer Science</h2>
     <span class="checklist__title-border"></span>
     <span class="checklist__percentage-border"></span>
     <ul class="checklist-container">
      <li class="checklist-item">
       <input id="" type="checkbox" /><label for="" class="checkbox"></label><span class="checklist-item__title">CSc 10300</span>
       <button class="checklist-item__expand" aria-label="Toggle Info" title="Toggle More Information">
                       <span class="line"></span>
                   </button>
       <div class="info-container">
        <div class="info">
            <ul>
                <li>Course Name: Intro to Computer Science</li>
                <li>Total Credits Earned: 3 </li>
                <li>Grade: </li>
                <li>Semester Completed: </li>
            </ul>
        </div>
       </div>
      </li>
      <li class="checklist-item">
        <input id="" type="checkbox" /><label for="" class="checkbox"></label><span class="checklist-item__title">CSc 10400</span>
        <button class="checklist-item__expand" aria-label="Toggle Info" title="Toggle More Information">
                        <span class="line"></span>
                    </button>
        <div class="info-container">
         <div class="info">
             <ul>
                 <li>Course Name: Discrete Math</li>
                 <li>Total Credits Earned: 4</li>
                 <li>Grade: </li>
                 <li>Semester Completed: </li>
             </ul>
         </div>
        </div>
       </li>
       <li class="checklist-item">
        <input id="" type="checkbox" /><label for="" class="checkbox"></label><span class="checklist-item__title">CSC 11300</span>
        <button class="checklist-item__expand" aria-label="Toggle Info" title="Toggle More Information">
                        <span class="line"></span>
                    </button>
        <div class="info-container">
         <div class="info">
             <ul>
                 <li>Course Name: Programming Language</li>
                 <li>Total Credits Earned: 1</li>
                 <li>Grade: </li>
                 <li>Semester Completed: </li>
             </ul>
         </div>
        </div>
       </li>
       <li class="checklist-item">
        <input id="" type="checkbox" /><label for="" class="checkbox"></label><span class="checklist-item__title">CSc 21100</span>
        <button class="checklist-item__expand" aria-label="Toggle Info" title="Toggle More Information">
                        <span class="line"></span>
                    </button>
        <div class="info-container">
         <div class="info">
             <ul>
                 <li>Course Name: Fund. of Computer Science</li>
                 <li>Total Credits Earned: 3</li>
                 <li>Grade: </li>
                 <li>Semester Completed: </li>
             </ul>
         </div>
        </div>
       </li>
       <li class="checklist-item">
        <input id="" type="checkbox" /><label for="" class="checkbox"></label><span class="checklist-item__title">CSc 21200</span>
        <button class="checklist-item__expand" aria-label="Toggle Info" title="Toggle More Information">
                        <span class="line"></span>
                    </button>
        <div class="info-container">
         <div class="info">
             <ul>
                 <li>Course Name: Data Structures</li>
                 <li>Total Credits Earned: 3</li>
                 <li>Grade: </li>
                 <li>Semester Completed: </li>
             </ul>
         </div>
        </div>
       </li>
       <li class="checklist-item">
        <input id="" type="checkbox" /><label for="" class="checkbox"></label><span class="checklist-item__title">CSc 21700</span>
        <button class="checklist-item__expand" aria-label="Toggle Info" title="Toggle More Information">
                        <span class="line"></span>
                    </button>
        <div class="info-container">
         <div class="info">
             <ul>
                 <li>Course Name: Probability & Stat for CS</li>
                 <li>Total Credits Earned: 3</li>
                 <li>Grade: </li>
                 <li>Semester Completed: </li>
             </ul>
         </div>
        </div>
       </li>
       <li class="checklist-item">
        <input id="" type="checkbox" /><label for="" class="checkbox"></label><span class="checklist-item__title">CSc 22000</span>
        <button class="checklist-item__expand" aria-label="Toggle Info" title="Toggle More Information">
                        <span class="line"></span>
                    </button>
        <div class="info-container">
         <div class="info">
             <ul>
                 <li>Course Name: Algorithms</li>
                 <li>Total Credits Earned: 3</li>
                 <li>Grade: </li>
                 <li>Semester Completed: </li>
             </ul>
         </div>
        </div>
       </li>
       <li class="checklist-item">
        <input id="" type="checkbox" /><label for="" class="checkbox"></label><span class="checklist-item__title">CSc 22100</span>
        <button class="checklist-item__expand" aria-label="Toggle Info" title="Toggle More Information">
                        <span class="line"></span>
                    </button>
        <div class="info-container">
         <div class="info">
             <ul>
                 <li>Course Name: Software Design Lab</li>
                 <li>Total Credits Earned: 3</li>
                 <li>Grade: </li>
                 <li>Semester Completed: </li>
             </ul>
         </div>
        </div>
       </li>
       <li class="checklist-item">
        <input id="" type="checkbox" /><label for="" class="checkbox"></label><span class="checklist-item__title">CSc 30100</span>
        <button class="checklist-item__expand" aria-label="Toggle Info" title="Toggle More Information">
                        <span class="line"></span>
                    </button>
        <div class="info-container">
         <div class="info">
             <ul>
                 <li>Course Name: Numerical Issues</li>
                 <li>Total Credits Earned: 3</li>
                 <li>Grade: </li>
                 <li>Semester Completed: </li>
             </ul>
         </div>
        </div>
       </li>
       <li class="checklist-item">
        <input id="" type="checkbox" /><label for="" class="checkbox"></label><span class="checklist-item__title">CSc 30400</span>
        <button class="checklist-item__expand" aria-label="Toggle Info" title="Toggle More Information">
                        <span class="line"></span>
                    </button>
        <div class="info-container">
         <div class="info">
             <ul>
                 <li>Course Name: Theoretical Computer Science</li>
                 <li>Total Credits Earned: 3</li>
                 <li>Grade: </li>
                 <li>Semester Completed: </li>
             </ul>
         </div>
        </div>
       </li>
       <li class="checklist-item">
        <input id="" type="checkbox" /><label for="" class="checkbox"></label><span class="checklist-item__title">CSc 32200</span>
        <button class="checklist-item__expand" aria-label="Toggle Info" title="Toggle More Information">
                        <span class="line"></span>
                    </button>
        <div class="info-container">
         <div class="info">
             <ul>
                 <li>Course Name: Software Engineering</li>
                 <li>Total Credits Earned: 4</li>
                 <li>Grade: </li>
                 <li>Semester Completed: </li>
             </ul>
         </div>
        </div>
       </li>
       <li class="checklist-item">
        <input id="" type="checkbox" /><label for="" class="checkbox"></label><span class="checklist-item__title">CSc 33500</span>
        <button class="checklist-item__expand" aria-label="Toggle Info" title="Toggle More Information">
                        <span class="line"></span>
                    </button>
        <div class="info-container">
         <div class="info">
             <ul>
                 <li>Course Name: Prog. Language Paradigms</li>
                 <li>Total Credits Earned: 3</li>
                 <li>Grade: </li>
                 <li>Semester Completed: </li>
             </ul>
         </div>
        </div>
       </li>
       <li class="checklist-item">
        <input id="" type="checkbox" /><label for="" class="checkbox"></label><span class="checklist-item__title">CSc 33600</span>
        <button class="checklist-item__expand" aria-label="Toggle Info" title="Toggle More Information">
                        <span class="line"></span>
                    </button>
        <div class="info-container">
         <div class="info">
             <ul>
                 <li>Course Name: Intro. to Database Systems</li>
                 <li>Total Credits Earned: 3</li>
                 <li>Grade: </li>
                 <li>Semester Completed: </li>
             </ul>
         </div>
        </div>
       </li>
       <li class="checklist-item">
        <input id="" type="checkbox" /><label for="" class="checkbox"></label><span class="checklist-item__title">CSc 34200</span>
        <button class="checklist-item__expand" aria-label="Toggle Info" title="Toggle More Information">
                        <span class="line"></span>
                    </button>
        <div class="info-container">
         <div class="info">
             <ul>
                 <li>Course Name: Computer Organization</li>
                 <li>Total Credits Earned: 3</li>
                 <li>Grade: </li>
                 <li>Semester Completed: </li>
             </ul>
         </div>
        </div>
       </li>
       <li class="checklist-item">
        <input id="" type="checkbox" /><label for="" class="checkbox"></label><span class="checklist-item__title">CSc 34300</span>
        <button class="checklist-item__expand" aria-label="Toggle Info" title="Toggle More Information">
                        <span class="line"></span>
                    </button>
        <div class="info-container">
         <div class="info">
             <ul>
                 <li>Course Name: Computer Organization Lab</li>
                 <li>Total Credits Earned: 1</li>
                 <li>Grade: </li>
                 <li>Semester Completed: </li>
             </ul>
         </div>
        </div>
       </li>
       <p>Capstone</p>
       <li class="checklist-item">
        <input id="" type="checkbox" /><label for="" class="checkbox"></label><span class="checklist-item__title">CSc 59866</span>
        <button class="checklist-item__expand" aria-label="Toggle Info" title="Toggle More Information">
                        <span class="line"></span>
                    </button>
        <div class="info-container">
         <div class="info">
             <ul>
                 <li>Course Name: Senior Design I</li>
                 <li>Total Credits Earned: 3</li>
                 <li>Grade: </li>
                 <li>Semester Completed: </li>
             </ul>
         </div>
        </div>
       </li>
       <li class="checklist-item">
        <input id="" type="checkbox" /><label for="" class="checkbox"></label><span class="checklist-item__title">CSc 59867</span>
        <button class="checklist-item__expand" aria-label="Toggle Info" title="Toggle More Information">
                        <span class="line"></span>
                    </button>
        <div class="info-container">
         <div class="info">
             <ul>
                 <li>Course Name: Senior Design II</li>
                 <li>Total Credits Earned: 3</li>
                 <li>Grade: </li>
                 <li>Semester Completed: </li>
             </ul>
         </div>
        </div>
       </li>
    </section>

    <!-- CSC Electives -->
    <section class="checklist">
        <h2 class="checklist__title">CSC Electives</h2>
        <span class="checklist__title-border"></span>
        <span class="checklist__percentage-border"></span>
        <ul class="checklist-container">
         <li class="checklist-item">
          <input id="" type="checkbox" /><label for="" class="checkbox"></label><span class="checklist-item__title">Group A</span>
          <button class="checklist-item__expand" aria-label="Toggle Info" title="Toggle More Information">
                          <span class="line"></span>
                      </button>
          <div class="info-container">
           <div class="info">
               <ul>
                   <li>Course Name:</li>
                   <li>Total Credits Earned: </li>
                   <li>Grade: </li>
                   <li>Semester Completed: </li>
               </ul>
           </div>
          </div>
         </li>

         <li class="checklist-item">
            <input id="" type="checkbox" /><label for="" class="checkbox"></label><span class="checklist-item__title">Group B</span>
            <button class="checklist-item__expand" aria-label="Toggle Info" title="Toggle More Information">
                            <span class="line"></span>
                        </button>
            <div class="info-container">
             <div class="info">
                 <ul>
                     <li>Course Name:</li>
                     <li>Total Credits Earned:</li>
                     <li>Grade: </li>
                     <li>Semester Completed: </li>
                 </ul>
             </div>
            </div>
           </li>

           <li class="checklist-item">
            <input id="" type="checkbox" /><label for="" class="checkbox"></label><span class="checklist-item__title">Group C</span>
            <button class="checklist-item__expand" aria-label="Toggle Info" title="Toggle More Information">
                            <span class="line"></span>
                        </button>
            <div class="info-container">
             <div class="info">
                 <ul>
                     <li>Course Name: </li>
                     <li>Total Credits Earned: </li>
                     <li>Grade: </li>
                     <li>Semester Completed: </li>
                 </ul>
             </div>
            </div>
           </li>

           <li class="checklist-item">
            <input id="" type="checkbox" /><label for="" class="checkbox"></label><span class="checklist-item__title">Group A/B/C</span>
            <button class="checklist-item__expand" aria-label="Toggle Info" title="Toggle More Information">
                            <span class="line"></span>
                        </button>
            <div class="info-container">
             <div class="info">
                 <ul>
                     <li>Course Name: </li>
                     <li>Total Credits Earned:  </li>
                     <li>Grade: </li>
                     <li>Semester Completed: </li>
                 </ul>
             </div>
            </div>
           </li>
           <p>Note: Last Technical Elective Course can be any class from either Group A, B or C.</p>
        </section>
        
    <!-- Technical Electives -->
    <section class="checklist">
        <h2 class="checklist__title">Technical Electives</h2>
        <span class="checklist__title-border"></span>
        <span class="checklist__percentage-border"></span>
        <ul class="checklist-container">
         <li class="checklist-item">
          <input id="" type="checkbox" /><label for="" class="checkbox"></label><span class="checklist-item__title">{Insert Course Name}</span>
          <button class="checklist-item__expand" aria-label="Toggle Info" title="Toggle More Information">
                          <span class="line"></span>
                      </button>
          <div class="info-container">
           <div class="info">
               <ul>
                   <li>Course Name: </li>
                   <li>Total Credits Earned:  </li>
                   <li>Grade: </li>
                   <li>Semester Completed: </li>
               </ul>
           </div>
          </div>
         </li>

         <li class="checklist-item">
            <input id="" type="checkbox" /><label for="" class="checkbox"></label><span class="checklist-item__title">{Insert Course Name}</span>
            <button class="checklist-item__expand" aria-label="Toggle Info" title="Toggle More Information">
                            <span class="line"></span>
                        </button>
            <div class="info-container">
             <div class="info">
                 <ul>
                     <li>Course Name:</li>
                     <li>Total Credits Earned:</li>
                     <li>Grade: </li>
                     <li>Semester Completed: </li>
                 </ul>
             </div>
            </div>
           </li>
           <h6>Other:</h6>
        </section>
   </div>
<style>
html {
    padding-top: 4%;
	line-height: 1.15;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

.titlehead{
   color: #233B7E;
   font-size: 43px;
}

.titlehead:hover{
    color:#3772D7;
    transition: all 0.8s ease-in;
}
h1 {
	font-size: 2em;
	margin: .67em 0;
}
a {
	background-color: transparent;
	-webkit-text-decoration-skip: objects;
}
img {
	border-style: none;
}
button, input, optgroup, select, textarea {
	font-family: sans-serif;
	font-size: 100%;
	line-height: 1.15;
	margin: 0;
}
button, input {
	overflow: visible;
}
button, select {
	text-transform: none;
}
[type=reset], [type=submit], button, html [type=button] {
	-webkit-appearance: button;
}
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
	padding: 0;
	border-style: none;
}
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring,
button:-moz-focusring {
	outline: 1px dotted ButtonText;
}
[type=checkbox], [type=radio] {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
}
*, :after, :before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-family: Rubik,
		-apple-system,
		BlinkMacSystemFont,
		'Segoe UI',
		Roboto,
		Oxygen,
		Ubuntu,
		Cantarell,
		'Fira Sans',
		'Droid Sans',
		'Helvetica Neue',
		sans-serif;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	margin: 0;
	letter-spacing: .02em;
	color: #233B7E;
	background: #fafafa;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a:hover {
	border-bottom: 2px solid #3772D7;
}
::-moz-selection {
	background: rgba(33, 16, 118, .75);
	text-shadow: none;
}
::selection {
	background: rgba(33, 16, 118, .75);
	text-shadow: none;
}
.title {
	font-size: 3.5em;
	font-weight: 500;
	margin: .5em .2em .375em;
	text-align: center;
}
.title a {
	color: #e6e6e6;
	border: 0;
}
.progress {
	margin-bottom: 5px;
	text-align: center;
    padding: 1%;
}
.progress__count {
	font-family: Menlo,
		Monaco,
		Consolas,
		'Liberation Mono',
		'Courier New',
		monospace;
	font-size: 1.15em;
	letter-spacing: .05em;
}
.progress__reset {
	font-family: inherit;
	line-height: 37px;
	display: inline-block;
	height: 37px;
	margin-left: .75em;
	padding: 0 14px;
	cursor: pointer;
	-webkit-transition: all .3s ease;
	transition: all .3s ease;
	letter-spacing: .025em;
	color: inherit;
	border: 1px solid #211076;
	border-radius: 3px;
	outline: 0;
	background: rgba(33, 16, 118, .75);
	-webkit-box-shadow: 0 4px 6px rgba(33, 16, 118, .11),
		0 1px 3px rgba(33, 16, 118, .1);
	box-shadow: 0 4px 6px rgba(33, 16, 118, .11), 0 1px 3px rgba(33, 16, 118, .1);
}

.progress__border {
	display: block;
	margin-top: 12px;
	border-bottom: 3px solid #57d490;
	-webkit-box-shadow: 0 20px 20px -20px rgba(33, 16, 118, .65);
	box-shadow: 0 20px 20px -20px rgba(33, 16, 118, .65);
}
.progress__bar {
	display: block;
	height: 17px;
	-webkit-transition: -webkit-transform .5s ease;
	transition: -webkit-transform .5s ease;
	transition: transform .5s ease;
	transition: transform .5s ease, -webkit-transform .5s ease;
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transform-origin: left;
	transform-origin: left;
	background: #3772D7;
}
.container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	max-width: 1550px;
	margin: 0 auto;
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-ms-flex-pack: distribute;
	justify-content: space-around;
}
.container .checklist {
	min-width: 350px;
	max-width: 400px;
	margin: 15px 15px 0;
}
.container .checklist .checklist-container {
	margin: 0;
	padding: 0;
}
.checklist__title {
	font-size: 2.125em;
	font-weight: 500;
	margin: 0;
	color: #3772D7;
}
.checklist__title-border {
	display: block;
	width: 350px;
	margin-top: 8px;
	border-bottom: 2px solid #3772D7;
	-webkit-box-shadow: 0 15px 15px -15px rgba(33, 16, 118, .5);
	box-shadow: 0 15px 15px -15px rgba(33, 16, 118, .5);
}
.checklist__percentage-border {
	display: block;
	width: 350px;
	height: 6px;
	margin-bottom: 8px;
	-webkit-transition: -webkit-transform 350ms ease;
	transition: -webkit-transform 350ms ease;
	transition: transform 350ms ease;
	transition: transform 350ms ease, -webkit-transform 350ms ease;
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transform-origin: left;
	transform-origin: left;
	background: #3772D7;
}
.checklist-item {
	display: block;
	margin: 15px 0;
}
.checkbox {
	position: relative;
	top: 1px;
	display: inline-block;
	width: 20px;
	height: 20px;
	cursor: pointer;
	-webkit-transition: background 150ms ease;
	transition: background 150ms ease;
	border: 2px solid #233B7E;
	border-radius: 3px;
}
.checkbox:hover {
	background: #3772D7;
}
.checkbox:after {
	position: absolute;
	top: 1px;
	left: 5px;
	width: 6px;
	height: 12px;
	content: '';
	-webkit-transition: all 325ms ease;
	transition: all 325ms ease;
	-webkit-transform: rotate(45deg) scale(0);
	transform: rotate(45deg) scale(0);
	opacity: 0;
	border-right: 2px solid white;
	border-bottom: 2px solid white;
}
.checklist-item__title {
	font-size: 1.125em;
	line-height: 1.25;
	display: inline-block;
	width: calc(100% - 48px);
	margin-left: 8px;
	cursor: pointer;
	-webkit-transition: color 250ms ease;
	transition: color 250ms ease;
	vertical-align: top;
}
.checklist-item__title:focus, .checklist-item__title:hover {
	color: #3772D7;
}
input[type=checkbox] {
	display: none;
}
input[type=checkbox]:checked ~ .checkbox {
	-webkit-animation: wiggle .4s ease;
	animation: wiggle .4s ease;
	border-color: transparent;
	background: #211076;
}
input[type=checkbox]:checked ~ .checkbox:after {
	-webkit-transform: rotate(45deg) scale(1);
	transform: rotate(45deg) scale(1);
	opacity: 1;
}
input[type=checkbox]:checked ~ .checklist-item__title {
	-webkit-transition: all 175ms ease;
	transition: all 175ms ease;
	text-decoration: line-through;
	opacity: .5;
}
@-webkit-keyframes wiggle {
	from {
		-webkit-transform: scale(1, 1);
		transform: scale(1, 1);
	}
	30% {
		-webkit-transform: scale(1.25, .75);
		transform: scale(1.25, .75);
	}
	40% {
		-webkit-transform: scale(.75, 1.25);
		transform: scale(.75, 1.25);
	}
	50% {
		-webkit-transform: scale(1.15, .85);
		transform: scale(1.15, .85);
	}
	65% {
		-webkit-transform: scale(.95, 1.05);
		transform: scale(.95, 1.05);
	}
	75% {
		-webkit-transform: scale(1.05, .95);
		transform: scale(1.05, .95);
	}
	to {
		-webkit-transform: scale(1, 1);
		transform: scale(1, 1);
	}
}
@keyframes wiggle {
	from {
		-webkit-transform: scale(1, 1);
		transform: scale(1, 1);
	}
	30% {
		-webkit-transform: scale(1.25, .75);
		transform: scale(1.25, .75);
	}
	40% {
		-webkit-transform: scale(.75, 1.25);
		transform: scale(.75, 1.25);
	}
	50% {
		-webkit-transform: scale(1.15, .85);
		transform: scale(1.15, .85);
	}
	65% {
		-webkit-transform: scale(.95, 1.05);
		transform: scale(.95, 1.05);
	}
	75% {
		-webkit-transform: scale(1.05, .95);
		transform: scale(1.05, .95);
	}
	to {
		-webkit-transform: scale(1, 1);
		transform: scale(1, 1);
	}
}
.checklist-item__expand {
	float: right;
	width: 20px;
	height: 20px;
	cursor: pointer;
	border: 0;
	outline: 0;
	background: 0 0;
}
.line {
	display: block;
	width: 20px;
	-webkit-transition: all .3s cubic-bezier(.76, -.26, .15, 1.32);
	transition: all .3s cubic-bezier(.76, -.26, .15, 1.32);
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	-webkit-transform-origin: center center;
	transform-origin: center center;
	outline: 1px solid transparent;
	background: #211076;
}
.line:after {
	display: block;
	width: 20px;
	height: 4px;
	content: '';
	-webkit-transition: all .3s cubic-bezier(.76, -.26, .15, 1.32);
	transition: all .3s cubic-bezier(.76, -.26, .15, 1.32);
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
	-webkit-transform-origin: center center;
	transform-origin: center center;
	outline: 1px solid transparent;
	background: #211076;
}
.closed.line {
	top: 45%;
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
	background: #3772D7;
}
.closed.line:after {
	-webkit-transform: rotate(0);
	transform: rotate(0);
	background: 0 0;
}
.info-container {
	font-family: -apple-system,
		BlinkMacSystemFont,
		'Segoe UI',
		Roboto,
		Oxygen,
		Ubuntu,
		Cantarell,
		'Fira Sans',
		'Droid Sans',
		'Helvetica Neue',
		sans-serif;
	font-size: 1.063em;
	line-height: 1.4;
	overflow: hidden;
	max-height: 0;
	-webkit-transition: max-height .3s ease-in;
	transition: max-height .3s ease-in;
}
.info-container ul {
	padding-left: 26px;
	list-style-type: disc;
}
.info-container li {
	margin-top: .25em;
}
.info-container .info {
	margin-top: .55em;
	margin-bottom: .2em;
	padding-bottom: .75em;
	border-bottom: 1px solid #b5adde;
}
.checklist .open .info-container {
	max-height: 500px;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}
.social {
	font-size: 1.25em;
	margin-top: 1.75em;
	text-align: center;
	-ms-flex-item-align: center;
	align-self: center;
}
.social-buttons {
	display: block;
	margin-top: 12px;
	-webkit-transition: all .4s;
	transition: all .4s;
	background: 0 0;
}
.social-buttons a {
	display: inline-block;
	width: 37px;
	height: 37px;
	cursor: pointer;
	border: 2px solid #e6e6e6;
	border-radius: 3px;
}
.social-buttons a.social-buttons__twitter {
	-webkit-transition: border .2s ease;
	transition: border .2s ease;
	background: url(../share-buttons.svg) no-repeat 5px 6px;
}
.social-buttons a.social-buttons__twitter:hover {
	border: 2px dotted #3772D7;
}
.social-buttons a.social-buttons__facebook {
	margin: 0 7px;
	-webkit-transition: border .2s ease;
	transition: border .2s ease;
	background: url(../share-buttons.svg) no-repeat -27px 6px;
}
.social-buttons a.social-buttons__facebook:hover {
	border: 2px dotted #3772D7;
}
footer {
	font-weight: 300;
	margin-top: 1.25em;
	padding: .85em 1.85em;
	text-align: center;
	border-top: 1px solid #57b26e;
	-ms-flex-item-align: center;
	align-self: center;
}
footer span {
	font-size: 1.45em;
	font-weight: 500;
	padding: 0 .175em;
	vertical-align: middle;
	color: #3772D7;
}
.title-404 {
	font-size: 6.5em;
	width: 100%;
	margin-bottom: 0;
	text-align: center;
}
.text-404 {
	font-size: 2.5em;
}
@media print {
	*, :after, :before, :first-letter, :first-line {
		color: #000 !important;
		background: 0 0 !important;
		-webkit-box-shadow: none !important;
		box-shadow: none !important;
		text-shadow: none !important;
	}
	a, a:visited {
		text-decoration: underline;
	}
	a[href]:after {
		content: ' (' attr(href) ')';
	}
	abbr[title]:after {
		content: ' (' attr(title) ')';
	}
	a[href^='#']:after, a[href^='javascript:']:after {
		content: '';
	}
	img {
		page-break-inside: avoid;
	}
	h2 {
		orphans: 3;
		widows: 3;
		page-break-after: avoid;
    }
}

@media only screen and (max-width: 800px) {
    body{
        padding-top: 8%;
    }
    .titlehead{
        font-size: 33px;
    }

}

</style>
<script>
    const checkboxValues = JSON.parse(localStorage.getItem("checkboxValues")) || {}, /*Need to connect checklist to our database */
	buttons = Array.from(document.querySelectorAll(".checklist-item__expand")),
	labels = Array.from(document.querySelectorAll(".checklist-item__title")),
	checkboxes = Array.from(document.querySelectorAll('input[type="checkbox"]')),
	checkboxesLength = checkboxes.length,
	progress = document.querySelector(".progress__bar"),
	counter = document.querySelector(".progress__count"),
	reset = document.querySelector(".progress__reset");
function loadIds() {
	for (let a = 0; a < checkboxesLength; a += 1) {
		const b = a => a.replace(/[ ,.!?;:'-]/g, "");
		(checkboxes[a].id = `${b(
			checkboxes[a].nextSibling.nextSibling.innerText
		).toLowerCase()}`), checkboxes[a].nextSibling.setAttribute(
			"for",
			`${b(checkboxes[a].nextSibling.nextSibling.innerText).toLowerCase()}`
		);
	}
}
function updateStorage(a) {
	(checkboxValues[a.id] = a.checked), localStorage.setItem(
		"checkboxValues",
		JSON.stringify(checkboxValues)
	);
}
function countChecked() {
	if ("checkbox" === this.type) {
		const a = this.parentNode.parentNode.parentNode,
			b =
				a.querySelectorAll("input:checked").length /
				a.querySelectorAll(".checklist-item").length;
		a.querySelector(
			".checklist__percentage-border"
		).style.transform = `scaleX(${b})`;
	} else
		Array.from(document.querySelectorAll(".checklist")).forEach(a => {
			const b =
				a.querySelectorAll("input:checked").length /
				a.querySelectorAll(".checklist-item").length;
			a.querySelector(
				".checklist__percentage-border"
			).style.transform = `scaleX(${b})`;
		});
	let a = 0;
	Array.from(document.querySelectorAll("input:checked")).forEach(() => {
		a += 1;
	}), (counter.innerText = `${a}/${checkboxesLength}`), (progress.style.transform = `scaleX(${a /
		checkboxesLength})`), (checkboxValues.globalCounter = a), updateStorage(this);
}
function loadValues() {
	const a = checkboxValues.globalCounter || 0;
	(counter.innerText = `${a}/${checkboxesLength}`), Object.keys(
		checkboxValues
	).forEach(a => {
		"globalCounter" !== a &&
			(document.getElementById(a).checked = checkboxValues[a]);
	}), countChecked();
}
function toggleExpand() {
	const a = this.parentNode;
	a.querySelector(".line").classList.toggle("closed"), a.classList.toggle(
		"open"
	);
}
function resetCheckboxes() {
	this.classList.add("progress__reset--pressed"), checkboxes.forEach(
		a => (a.checked = !1)
	), Object.keys(checkboxValues).forEach(
		a => delete checkboxValues[a]
	), countChecked();
}
window.onload = function() {
	loadIds(), loadValues(), checkboxes.forEach(a =>
		a.addEventListener("click", countChecked)
	), buttons.forEach(a =>
		a.addEventListener("click", toggleExpand)
	), labels.forEach(a =>
		a.addEventListener("click", toggleExpand)
	), reset.addEventListener("click", resetCheckboxes), reset.addEventListener(
		"animationend",
		function() {
			this.classList.remove("progress__reset--pressed");
		},
		!1
	), "serviceWorker" in navigator &&
		navigator.serviceWorker.register("/sw.js", { scope: "/" })
};

</script>
{% endblock content %}