{% extends "layout.html" %}
{% block content %}

<hr><center><h1 class="title">Computer Science Course Checklist</h1></center>
<legend> </legend>
<hr>
   <div class="container">
    <div class="row">
        <div class="column">
                                    
                                      <!--Computer Science Checklist -->
                                      <section class="checklist">
                                        <button type="button" class="collapsible subtitle">Computer Science
                                            <div class="progress">
                                                <div class="progress-inner4"><p id="progress_count4"></p></div>
                                            </div>
                                        </button>
                                        {% for cscourse in cscourses %}
                                            <div class="content">
                                                <input class="CSCheckBox" type="checkbox" onclick="checkMe_CS()" />
                                                <label class="checkbox" for="course_serial">{{cscourse.serial}}</label>
                                                <p style="display: inline; float: right;">
                                                    <a class="btn plus-sign" data-toggle="collapse" href="#collapseCS1" role="button" aria-expanded="false" aria-controls="collapseExample">
                                                        +
                                                    </a>
                                                </p>
                                                  <div class="collapse" id="collapseCS1">
                                                    <div class="card card-body">
                                                        <ul>
                                                            <li>{{cscourse.name}}</li>
                                                            <li>Course Description:{{cscourse.description}} </li> 
                                                            <li>Course Credit: {{cscourse.credits}} </li>
                                                            {% for score in scores %}
                                                                {% if score.grade and cscourse.id == score.course_id %}
                                                                    <li>Grade:{{score.grade}} </li>
                                                                {% endif %}
                                                            {% endfor %}
                                                        </ul>
                                                    
                                                    </div>
                                                  </div>

                                            </div>
                                        {% endfor %}
                                    </section>
                                    <br>
<!--CS Electives Checklist -->
<section class="checklist">
    <button type="button" class="collapsible subtitle">CSc Electives
        <div class="progress">
            <div class="progress-inner5"><p id="progress_count5"></p></div>
        </div>
    </button>
    <div class="content">
        <input class="CSECheckBox" type="checkbox" onclick="checkMe_CSE()" />
        <label class="checkbox" for="course_serial">Group A</label>
        <p style="display: inline; float: right;">
            <a class="btn plus-sign" data-toggle="collapse" href="#collapseCSE1" role="button" aria-expanded="false" aria-controls="collapseExample">
                +
            </a>
        </p>
          <div class="collapse" id="collapseCSE1">
            <div class="card card-body">
                <ul>
                    <li>Course Name:</li>
                    <li>Course Description: </li> 
                    <li>Course Credit:  </li>
                    <li>Grade: </li>
                </ul>
            </div>
          </div>
          <hr>
          <input class="CSECheckBox" type="checkbox" onclick="checkMe_CSE()" />
        <label for="course_serial">Group B</label>
        <p style="display: inline; float: right;">
            <a class="btn plus-sign" data-toggle="collapse" href="#collapseCSE2" role="button" aria-expanded="false" aria-controls="collapseExample">
                +
            </a>
        </p>
          <div class="collapse" id="collapseCSE2">
            <div class="card card-body">
                <ul>
                    <li>Course Name:</li>
                    <li>Course Description: </li> 
                    <li>Course Credit:  </li>
                    <li>Grade: </li>
                </ul>
            </div>
          </div>
          <hr>
          <input class="CSECheckBox" type="checkbox" onclick="checkMe_CSE()" />
          <label for="course_serial">Group C</label>
          <p style="display: inline; float: right;">
              <a class="btn plus-sign" data-toggle="collapse" href="#collapseCSE" role="button" aria-expanded="false" aria-controls="collapseExample">
                  +
              </a>
          </p>
            <div class="collapse" id="collapseCSE3">
              <div class="card card-body">
                  <ul>
                    <li>Course Name:</li>
                    <li>Course Description: </li> 
                    <li>Course Credit:  </li>
                    <li>Grade: </li>
                  </ul>
              </div>
            </div>
            <hr>
            <input class="CSECheckBox" type="checkbox" onclick="checkMe_CSE()" />
            <label for="course_serial">Group A/B/C</label>
            <p style="display: inline; float: right;">
                <a class="btn plus-sign" data-toggle="collapse" href="#collapseCSE4" role="button" aria-expanded="false" aria-controls="collapseExample">
                    +
                </a>
            </p>
              <div class="collapse" id="collapseCSE4">
                <div class="card card-body">
                    <ul>
                        <li>Course Name:</li>
                        <li>Course Description: </li> 
                        <li>Course Credit:  </li>
                        <li>Grade: </li>
                    </ul>
                </div>
              </div>
              <hr>
              <p>Note: Last Technical Elective Course can be any class from either Group A, B or C.</p>
    </div>
</section>
<br>

                  <!--Technical Electives Checklist -->
                  <section class="checklist">
                    <button type="button" class="collapsible subtitle">Technical Electives
                        <div class="progress">
                            <div class="progress-inner6"><p id="progress_count6"></p></div>
                        </div>
                    </button>
                    <div class="content">
                        <input class="TECheckBox" type="checkbox" onclick="checkMe_TE()" />
                        <label class="checkbox" for="course_serial">{Insert Course Name}</label>
                        <p style="display: inline; float: right;">
                            <a class="btn plus-sign" data-toggle="collapse" href="#collapseTE5" role="button" aria-expanded="false" aria-controls="collapseExample">
                                +
                            </a>
                        </p>
                          <div class="collapse" id="collapseTE5">
                            <div class="card card-body">
                                <ul>
                                    <li>Course Name:</li>
                                    <li>Course Description: </li> 
                                    <li>Course Credit:  </li>
                                    <li>Grade: </li>
                                </ul>
                            </div>
                          </div>
                          <hr>

                          <input class="TECheckBox" type="checkbox" onclick="checkMe_TE()" />
                          <label class="checkbox" for="course_serial">{Insert Course Name}</label>
                          <p style="display: inline; float: right;">
                              <a class="btn plus-sign" data-toggle="collapse" href="#collapseTE6" role="button" aria-expanded="false" aria-controls="collapseExample">
                                  +
                              </a>
                          </p>
                            <div class="collapse" id="collapseTE6">
                              <div class="card card-body">
                                  <ul>
                                    <li>Course Name:</li>
                                    <li>Course Description: </li> 
                                    <li>Course Credit:  </li>
                                    <li>Grade: </li>
                                  </ul>
                              </div>
                            </div>
                            <hr>

                            <input class="TECheckBox" type="checkbox" onclick="checkMe_TE()" />
                            <label class="checkbox" for="course_serial">{Insert Course Name}</label>
                            <p style="display: inline; float: right;">
                                <a class="btn plus-sign" data-toggle="collapse" href="#collapseTE7" role="button" aria-expanded="false" aria-controls="collapseExample">
                                    +
                                </a>
                            </p>
                              <div class="collapse" id="collapseTE7">
                                <div class="card card-body">
                                    <ul>
                                        <li>Course Name:</li>
                                        <li>Course Description: </li> 
                                        <li>Course Credit:  </li>
                                        <li>Grade: </li>
                                    </ul>
                                </div>
                              </div>
                              <hr>
                    </div>
                </section>
                <br>

        </div>
        <div class="column">
            <!--Math Checklist -->
    <section class="checklist">
        <button type="button" class="collapsible subtitle">Math
            <div class="progress">
                <div class="progress-inner"><p id="progress_count"></p></div>
            </div>
        </button>
        <div class="content">
            <input class="MathCheckBox" type="checkbox" onclick="checkMe_Math()" />
            <label class="checkbox" for="course_serial">Math 20100</label>
            <p style="display: inline; float: right;">
                <a class="btn plus-sign" data-toggle="collapse" href="#collapse1" role="button" aria-expanded="false" aria-controls="collapseExample">
                    +
                </a>
            </p>
              <div class="collapse" id="collapse1">
                <div class="card card-body">
                    <ul>
                        <li>Course Name: Calculus I</li>
                        <li>Course Description: </li> 
                        <li>Course Credit:  </li>
                        <li>Grade: </li>
                    </ul>
                </div>
              </div>
              <hr>
            <input class="MathCheckBox" type="checkbox" onclick="checkMe_Math()" />
            <label for="course_serial">Math 20200</label>
            <p style="display: inline; float: right;">
                <a class="btn plus-sign" data-toggle="collapse" href="#collapse2" role="button" aria-expanded="false" aria-controls="collapseExample">
                    +
                </a>
            </p>
              <div class="collapse" id="collapse2">
                <div class="card card-body">
                    <ul>
                        <li>Course Name: Calculus II</li>
                        <li>Course Description: </li> 
                        <li>Course Credit:  </li>
                        <li>Grade: </li>
                    </ul>
                </div>
              </div>
              <hr>
              <input class="MathCheckBox" type="checkbox" onclick="checkMe_Math()" />
              <label for="course_serial">Math 20300</label>
              <p style="display: inline; float: right;">
                  <a class="btn plus-sign" data-toggle="collapse" href="#collapse3" role="button" aria-expanded="false" aria-controls="collapseExample">
                      +
                  </a>
              </p>
                <div class="collapse" id="collapse3">
                  <div class="card card-body">
                      <ul>
                        <li>Course Name: Calculus III</li>
                        <li>Course Description: </li> 
                        <li>Course Credit:  </li>
                        <li>Grade: </li>
                      </ul>
                  </div>
                </div>
                <hr>
                <input class="MathCheckBox" type="checkbox" onclick="checkMe_Math()" />
                <label for="course_serial">Math 20200</label>
                <p style="display: inline; float: right;">
                    <a class="btn plus-sign" data-toggle="collapse" href="#collapse4" role="button" aria-expanded="false" aria-controls="collapseExample">
                        +
                    </a>
                </p>
                  <div class="collapse" id="collapse4">
                    <div class="card card-body">
                        <ul>
                            <li>Course Name: Linear Algebra</li>
                            <li>Course Description: </li> 
                            <li>Course Credit:  </li>
                            <li>Grade: </li>
                        </ul>
                    </div>
                  </div>
                  <hr>
        </div>
    </section>
<br>
    
                      <!--Liberal Art Checklist -->
                      <section class="checklist">
                        <button type="button" class="collapsible subtitle">Liberal Arts
                            <div class="progress">
                                <div class="progress-inner3"><p id="progress_count3"></p></div>
                            </div>
                        </button>
                        <div class="content">
                            <input class="LibCheckBox" type="checkbox" onclick="checkMe_Lib()" />
                            <label class="checkbox" for="course_serial">Spch 11100</label>
                            <p style="display: inline; float: right;">
                                <a class="btn plus-sign" data-toggle="collapse" href="#collapselib1" role="button" aria-expanded="false" aria-controls="collapseExample">
                                    +
                                </a>
                            </p>
                              <div class="collapse" id="collapselib1">
                                <div class="card card-body">
                                    <ul>
                                        <li>Course Name: Foundations of Speech Comm.</li>
                                        <li>Course Description: </li> 
                                        <li>Course Credit:  </li>
                                        <li>Grade: </li>
                                    </ul>
                                </div>
                              </div>
                              <hr>
    
                              <input class="LibCheckBox" type="checkbox" onclick="checkMe_Lib()" />
                              <label class="checkbox" for="course_serial">Engl 11000</label>
                              <p style="display: inline; float: right;">
                                  <a class="btn plus-sign" data-toggle="collapse" href="#collapselib2" role="button" aria-expanded="false" aria-controls="collapseExample">
                                      +
                                  </a>
                              </p>
                                <div class="collapse" id="collapselib2">
                                  <div class="card card-body">
                                      <ul>
                                        <li>Course Name: Freshmen Comp</li>
                                        <li>Course Description: </li> 
                                        <li>Course Credit:  </li>
                                        <li>Grade: </li>
                                      </ul>
                                  </div>
                                </div>
                                <hr>
                                

                                <input class="LibCheckBox" type="checkbox" onclick="checkMe_Lib()" />
                                <label class="checkbox" for="course_serial">Engl 21007</label>
                                <p style="display: inline; float: right;">
                                    <a class="btn plus-sign" data-toggle="collapse" href="#collapselib3" role="button" aria-expanded="false" aria-controls="collapseExample">
                                        +
                                    </a>
                                </p>
                                  <div class="collapse" id="collapselib3">
                                    <div class="card card-body">
                                        <ul>
                                            <li>Course Name: Writing for Engineering</li>
                                            <li>Course Description: </li> 
                                            <li>Course Credit:  </li>
                                            <li>Grade: </li>
                                        </ul>
                                    </div>
                                  </div>
                                  <hr>

                                  <input class="LibCheckBox" type="checkbox" onclick="checkMe_Lib()" />
                                  <label class="checkbox" for="course_serial">Eco 10400</label>
                                  <p style="display: inline; float: right;">
                                      <a class="btn plus-sign" data-toggle="collapse" href="#collapselib4" role="button" aria-expanded="false" aria-controls="collapseExample">
                                          +
                                      </a>
                                  </p>
                                    <div class="collapse" id="collapselib4">
                                      <div class="card card-body">
                                          <ul>
                                                <li>Course Name: Economics</li>
                                                <li>Course Description: </li> 
                                                <li>Course Credit:  </li>
                                                <li>Grade: </li>
                                          </ul>
                                      </div>
                                    </div>
                                    <hr>

                                     <!--Liberal Art 1000 Level -->

                                     <input class="LibCheckBox" type="checkbox" onclick="checkMe_Lib()" />
                                     <label class="checkbox" for="course_serial">Level 1000</label>
                                     <p style="display: inline; float: right;">
                                         <a class="btn plus-sign" data-toggle="collapse" href="#collapselib5" role="button" aria-expanded="false" aria-controls="collapseExample">
                                             +
                                         </a>
                                     </p>
                                       <div class="collapse" id="collapselib5">
                                         <div class="card card-body">
                                             <ul>
                                                   <li>Course Name: </li>
                                                   <li>Course Credit: </li>
                                                   <li>Grade: </li>
                                                   <li>Semester Completed: </li>
                                             </ul>
                                         </div>
                                       </div>
                                       <hr>

                                       <input class="LibCheckBox" type="checkbox" onclick="checkMe_Lib()" />
                                       <label class="checkbox" for="course_serial">Level 2000</label>
                                       <p style="display: inline; float: right;">
                                           <a class="btn plus-sign" data-toggle="collapse" href="#collapselib6" role="button" aria-expanded="false" aria-controls="collapseExample">
                                               +
                                           </a>
                                       </p>
                                         <div class="collapse" id="collapselib6">
                                           <div class="card card-body">
                                               <ul>
                                                     <li>Course Name: </li>
                                                     <li>Course Description: </li> 
                                                     <li>Course Credit:  </li>
                                                     <li>Grade: </li>
                                               </ul>
                                           </div>
                                         </div>
                                         <hr>

                                         <!--Liberal Art 2000 Level -->

                                     <input class="LibCheckBox" type="checkbox" onclick="checkMe_Lib()" />
                                     <label class="checkbox" for="course_serial">Level 2000</label>
                                     <p style="display: inline; float: right;">
                                         <a class="btn plus-sign" data-toggle="collapse" href="#collapselib7" role="button" aria-expanded="false" aria-controls="collapseExample">
                                             +
                                         </a>
                                     </p>
                                       <div class="collapse" id="collapselib7">
                                         <div class="card card-body">
                                             <ul>
                                                   <li>Course Name: </li>
                                                   <li>Course Description: </li> 
                                                   <li>Course Credit:  </li>
                                                   <li>Grade: </li>
                                             </ul>
                                         </div>
                                       </div>
                                       <hr>

                                       <input class="LibCheckBox" type="checkbox" onclick="checkMe_Lib()" />
                                       <label class="checkbox" for="course_serial">Level 2000</label>
                                       <p style="display: inline; float: right;">
                                           <a class="btn plus-sign" data-toggle="collapse" href="#collapselib8" role="button" aria-expanded="false" aria-controls="collapseExample">
                                               +
                                           </a>
                                       </p>
                                         <div class="collapse" id="collapselib8">
                                           <div class="card card-body">
                                               <ul>
                                                     <li>Course Name: </li>
                                                     <li>Course Description: </li> 
                                                     <li>Course Credit:  </li>
                                                     <li>Grade: </li>
                                               </ul>
                                           </div>
                                         </div>
                                         <hr>

                        </div>
                    </section>
                    <br>

                  <!--Science Checklist -->
                  <section class="checklist">
                    <button type="button" class="collapsible subtitle">Science
                        <div class="progress">
                            <div class="progress-inner2"><p id="progress_count2"></p></div>
                        </div>
                    </button>
                    <div class="content">
                        <input class="ScienceCheckBox" type="checkbox" onclick="checkMe_Science()" />
                        <label class="checkbox" for="course_serial">Bio 10100</label>
                        <p style="display: inline; float: right;">
                            <a class="btn plus-sign" data-toggle="collapse" href="#collapse1" role="button" aria-expanded="false" aria-controls="collapseExample">
                                +
                            </a>
                        </p>
                          <div class="collapse" id="collapse1">
                            <div class="card card-body">
                                <ul>
                                    <li>Course Name: Biological Foundations I</li>
                                    <li>Course Description: </li> 
                                    <li>Course Credit:  </li>
                                    <li>Grade: </li>
                                </ul>
                            </div>
                          </div>
                          <hr>

                          <input class="ScienceCheckBox" type="checkbox" onclick="checkMe_Science()" />
                          <label class="checkbox" for="course_serial">Bio 10200</label>
                          <p style="display: inline; float: right;">
                              <a class="btn plus-sign" data-toggle="collapse" href="#collapse2" role="button" aria-expanded="false" aria-controls="collapseExample">
                                  +
                              </a>
                          </p>
                            <div class="collapse" id="collapse2">
                              <div class="card card-body">
                                  <ul>
                                    <li>Course Name: Biological Foundations II</li>
                                    <li>Course Description: </li> 
                                    <li>Course Credit:  </li>
                                    <li>Grade: </li>
                                  </ul>
                              </div>
                            </div>
                            <hr>

                            <input class="ScienceCheckBox" type="checkbox" onclick="checkMe_Science()" />
                            <label class="checkbox" for="course_serial">Chem 10301</label>
                            <p style="display: inline; float: right;">
                                <a class="btn plus-sign" data-toggle="collapse" href="#collapse3" role="button" aria-expanded="false" aria-controls="collapseExample">
                                    +
                                </a>
                            </p>
                              <div class="collapse" id="collapse3">
                                <div class="card card-body">
                                    <ul>
                                        <li>Course Name: General Chemistry I</li>
                                        <li>Course Description: </li> 
                                        <li>Course Credit:  </li>
                                        <li>Grade: </li>
                                    </ul>
                                </div>
                              </div>
                              <hr>

                              <input class="ScienceCheckBox" type="checkbox" onclick="checkMe_Science()" />
                              <label class="checkbox" for="course_serial">Chem 10401</label>
                              <p style="display: inline; float: right;">
                                  <a class="btn plus-sign" data-toggle="collapse" href="#collapse4" role="button" aria-expanded="false" aria-controls="collapseExample">
                                      +
                                  </a>
                              </p>
                                <div class="collapse" id="collapse4">
                                  <div class="card card-body">
                                      <ul>
                                          <li>Course Name: General Chemistry II</li>
                                          <li>Course Description: </li> 
                                          <li>Course Credit:  </li>
                                          <li>Grade: </li>
                                      </ul>
                                  </div>
                                </div>
                                <hr>


                              <input class="ScienceCheckBox" type="checkbox" onclick="checkMe_Science()" />
                              <label class="checkbox" for="course_serial">Phys 20700</label>
                              <p style="display: inline; float: right;">
                                  <a class="btn plus-sign" data-toggle="collapse" href="#collapse5" role="button" aria-expanded="false" aria-controls="collapseExample">
                                      +
                                  </a>
                              </p>
                                <div class="collapse" id="collapse5">
                                  <div class="card card-body">
                                      <ul>
                                        <li>Course Name: General Physics I</li>
                                        <li>Course Description: </li> 
                                        <li>Course Credit:  </li>
                                        <li>Grade: </li>
                                      </ul>
                                  </div>
                                </div>
                                <hr>

                                <input class="ScienceCheckBox" type="checkbox" onclick="checkMe_Science()" />
                                <label class="checkbox" for="course_serial">Phys 20800</label>
                                <p style="display: inline; float: right;">
                                    <a class="btn plus-sign" data-toggle="collapse" href="#collapse6" role="button" aria-expanded="false" aria-controls="collapseExample">
                                        +
                                    </a>
                                </p>
                                  <div class="collapse" id="collapse6">
                                    <div class="card card-body">
                                        <ul>
                                          <li>Course Name: General Physics II</li>
                                          <li>Course Description: </li> 
                                          <li>Course Credit:  </li>
                                          <li>Grade: </li>
                                        </ul>
                                    </div>
                                  </div>
                                  <hr>
                                  <p>Note: Required to only take 1 sequence and 1 other science course</p>
                    </div>
                </section>
<br>

        </div>
    </div>
   </div>






<style>

.column {
  float: left;
  width: 50%;
  padding: 3%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
    /* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: #d4e2ee;
  color: #233B7E;
  cursor: pointer;
  padding: 8%;
  width: 100%;
  border: none;
  text-align: left;
  outline: #233B7E;
  font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
    background-color: #233B7E;
    color: white;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 4%;
  display: none;
  overflow: hidden;
  background-color: #ececec;
}

.title{
   color: #233B7E;
   font-size: 43px;
}
.title:hover{
    color:#3772D7;
    transition: all 0.8s ease-in;
}

.subtitle {
    font-size: 34px;
    text-align: center;
}

.progress{
  width: 100%;
  height: 20px;
  background-color: white;
  border: 1px solid white;
  }

.progress-inner{
  background-color: #3772D7;
  width: 0%;
  height: 100%;
  text-align: center;
  padding-top: 2%;
  }

#progress_count2{
    font-size: 10px;
    align-items: center;
    color: white;
}

.progress-inner2{
  background-color: #3772D7;
  width: 0%;
  height: 100%;
  text-align: center;
  padding-top: 2%;
  }

#progress_count{
    font-size: 10px;
    align-items: center;
    color: white;
}

.progress-inner3{
  background-color: #3772D7;
  width: 0%;
  height: 100%;
  text-align: center;
  padding-top: 2%;
  }

#progress_count3{
    font-size: 10px;
    align-items: center;
    color: white;
}

.progress-inner4{
  background-color: #3772D7;
  width: 0%;
  height: 100%;
  text-align: center;
  padding-top: 2%;
  }

#progress_count4{
    font-size: 10px;
    align-items: center;
    color: white;
}

.progress-inner5{
  background-color: #3772D7;
  width: 0%;
  height: 100%;
  text-align: center;
  padding-top: 2%;
  }

#progress_count5{
    font-size: 10px;
    align-items: center;
    color: white;
}

.progress-inner6{
  background-color: #3772D7;
  width: 0%;
  height: 100%;
  text-align: center;
  padding-top: 2%;
  }

#progress_count6{
    font-size: 10px;
    align-items: center;
    color: white;
}

label{
    font-size: 15px;
    color: #233B7E;
    position: absolute;
    padding-left: 4px;
    transition: all 0.3s ease-in;
}

label:hover{
    color: #3772D7;
}


input[type=checkbox]:checked + label {
opacity: 0.5;
}

.plus-sign{
    font-size: 20px;
    padding: 0%;

}
.btn{
padding: 0%;
}
.card-body{
    padding-bottom: 0px;
    font-size: small;
    color: #233B7E;
}

ul {
  list-style: none;
  padding: 0%;
}
li:hover{
    color: #3772D7;
    font-size: medium;
}

  /* To make homepage responsive */ 
  @media only screen and (max-width: 800px) {
    .title{
        font-size: 29px;
    }
    .subtitle{
        font-size: 26px;
    }
    .column {
  float: left;
  width: 100%;
  padding: 0%;
}    

}
</style>


<script>
/*Makes the course section toggle*/
var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.display === "block") {
      content.style.display = "none";
    } else {
      content.style.display = "block";
    }
  });
}

/*Progress Counter for Math*/
function checkMe_Math() {
  const checkBoxes_M = document.querySelectorAll(".MathCheckBox");
  const progress = document.querySelector(".progress-inner");
  const checklistProgressInterval_M = 100 / checkBoxes_M.length;
  let width_M = 0;
  
  for(let i = 0; i < checkBoxes_M.length; i++){
    if(checkBoxes_M[i].checked){
      width_M += checklistProgressInterval_M;
    }
  }
    progress.style.width = `${width_M}%`;
    whole_number_M = (width_M/100) * checkBoxes_M.length

    document.getElementById("progress_count").innerHTML = Math.round(whole_number_M) + "/" + checkBoxes_M.length;
}

/*Progress Counter for Science*/
function checkMe_Science() {
  const science_cb = document.querySelectorAll(".ScienceCheckBox");
  const progress_S = document.querySelector(".progress-inner2");
  const checklistProgressInterval_S = 100 / 3;
  let width_S = 0;
  
  for(let i = 0; i < 4; i++){
    if(science_cb[i].checked){
      width_S += checklistProgressInterval_S;
    }
  }
    progress_S.style.width = `${width_S}%`;
    whole_number_S = (width_S/100) * 3

    document.getElementById("progress_count2").innerHTML = Math.round(whole_number_S) + "/3";
}

/*Progress Counter for Liberal Arts*/
function checkMe_Lib() {
  const Lib_cb = document.querySelectorAll(".LibCheckBox");
  const progress_L = document.querySelector(".progress-inner3");
  const checklistProgressInterval_L = 100 / Lib_cb.length;
  let width_Lib = 0;
  
  for(let i = 0; i < Lib_cb.length; i++){
    if(Lib_cb[i].checked){
      width_Lib += checklistProgressInterval_L;
    }
  }
    progress_L.style.width = `${width_Lib}%`;
    whole_number_L = (width_Lib/100) * Lib_cb.length

    document.getElementById("progress_count3").innerHTML = Math.round(whole_number_L) + "/" + Lib_cb.length;
}
/*Progress Counter for Computer Science*/
function checkMe_CS() {
  const CS_cb = document.querySelectorAll(".CSCheckBox");
  const progress_CS = document.querySelector(".progress-inner4");
  const checklistProgressInterval_CS = 100 / CS_cb.length;
  let width_CS = 0;
  
  for(let i = 0; i < CS_cb.length; i++){
    if(CS_cb[i].checked){
      width_CS += checklistProgressInterval_CS;
    }
  }
    progress_CS.style.width = `${width_CS}%`;
    whole_number_CS = (width_CS/100) * CS_cb.length

    document.getElementById("progress_count4").innerHTML = Math.round(whole_number_CS) + "/" + CS_cb.length;
}

/*Progress Counter for CS Electives */
function checkMe_CSE() {
  const CSE_cb = document.querySelectorAll(".CSECheckBox");
  const progress_CSE = document.querySelector(".progress-inner5");
  const checklistProgressInterval_CSE = 100 / CSE_cb.length;
  let width_CSE = 0;
  
  for(let i = 0; i < CSE_cb.length; i++){
    if(CSE_cb[i].checked){
      width_CSE += checklistProgressInterval_CSE;
    }
  }
    progress_CSE.style.width = `${width_CSE}%`;
    whole_number_CSE = (width_CSE/100) * CSE_cb.length

    document.getElementById("progress_count5").innerHTML = Math.round(whole_number_CSE) + "/" + CSE_cb.length;
}

/*Progress Counter for Technical Electives */
function checkMe_TE() {
  const TE_cb = document.querySelectorAll(".TECheckBox");
  const progress_TE = document.querySelector(".progress-inner6");
  const checklistProgressInterval_TE = 100 / TE_cb.length;
  let width_TE = 0;
  
  for(let i = 0; i < TE_cb.length; i++){
    if(TE_cb[i].checked){
      width_TE += checklistProgressInterval_TE;
    }
  }
    progress_TE.style.width = `${width_TE}%`;
    whole_number_TE = (width_TE/100) * TE_cb.length;

    document.getElementById("progress_count6").innerHTML = Math.round(whole_number_TE) + "/" + TE_cb.length;
}


</script>


{% endblock content %}