{% extends "layout.html" %}
{% block content %}

<hr><center><h1 class="title">Computer Science Course Checklist</h1></center>
<hr>
   <div class="container">
    <div class="row">
      <div class="column">
          <!--Computer Science Checklist -->
          <section class="checklist">
            <button type="button" class="collapsible subtitle">Computer Science
              <div class="progress">
                <div class="progress-inner4"><p id="progress_count4">{{ CS_width_num }}/{{ cs_count }}</p></div>
              </div>
            </button>
            <div class="content">
              {% for cs_course in courses %}
              {% if cs_course.dept == "CSC" and cs_course.designation == "Core Requirement" %}
              {% if cs_course is in courses_array%} <!-- Core Requirement CS courses -->
                    <input checked class="CSCheckBox" type="checkbox" disabled/>
                    <label class="checkbox collapsible2" for="course_serial">{{cs_course.serial}}</label>
                    <div class="content2">
                      <ul>
                        <li>Course Name: {{cs_course.name}}</li>
                        <hr>
                        <li>Course Description: {{cs_course.description}} </li>
                        <hr>
                        <li>Course Designation: {{cs_course.designation}}</li> 
                        <hr>
                        <li>Course Credit: {{cs_course.credits}} </li>
                        <hr>
                        {% for score in scores %}
                        {% if score.grade and cs_course.id == score.course_id %}
                          <li>Grade: {{score.grade}} </li>
                        {% endif %}
                      {% endfor %}
                      </ul>
                    </div>
                <hr>
                {%else%}
                <input class="CSCheckBox" type="checkbox" disabled/>
                <label class="checkbox collapsible2" for="course_serial">{{cs_course.serial}}</label>
                <div class="content2">
                  <ul>
                    <li>Course Name: {{cs_course.name}}</li>
                    <hr>
                    <li>Course Description: {{cs_course.description}} </li>
                    <hr>
                    <li>Course Designation: {{cs_course.designation}}</li> 
                    <hr>
                    <li>Course Credit: {{cs_course.credits}} </li>
                    <hr>
                  </ul>
                </div>
                <hr>
                {% endif %}
                {% endif %}
              {% endfor %}
             
            </div>
          </section>
        <br>
      
<!--CS Electives Checklist -->
      <section class="checklist">
        <button type="button" class="collapsible subtitle">CSc Electives
          <div class="progress"> <!--Progress Bar-->
              <div class="progress-inner5"><p id="progress_count5">{{ CSE_width_num }}/4</p></div>
          </div>
        </button>
        <div class="content">
        {% for cs_elective in courses_array %}
          {% if cs_elective.dept == "CSC" and cs_elective.id > 18 %}
              <input checked class="CSECheckBox" type="checkbox" disabled/>
              <label class="checkbox collapsible2" for="course_serial">{{cs_elective.designation}}: {{cs_elective.serial}}</label>
              <div class="content2">
                <ul>
                  <li>Course Name: {{cs_elective.name}}</li>
                  <hr>
                  <li>Course Description: {{cs_elective.description}} </li> 
                  <hr>
                  <li>Course Designation: {{cs_elective.designation}}</li>
                  <hr>
                  <li>Course Credit: {{cs_elective.credits}} </li>
                  <hr>
                  {% for score in scores %}
                    {% if score.grade and cs_elective.id == score.course_id %}
                      <li>Grade: {{score.grade}} </li>
                    {% endif %}
                  {% endfor %}
                </ul>
              </div>
            <hr>
          {% endif %}
        {% endfor %}  
        <p style="font-size: smaller;">Note: You are required to take one course in each of three elective groups and then one additional course in one of the three groups.</p>
        <p style="font-size: smaller;"> A. Theory and Applications <br> B. Computational Techniques for Science and Engineering <br> C. Computer Systems </p>
        </div>
      </section>
      <br>
      
      <!-- A note to Chrystal from Ray: It works, Just a reminder, in the CCNY cirriculum there are: 
        2 technical electives, 2 free electives, and 4 liberal art courses (2 at 1000 lvl) + (2 at 2000 lvl) 
        This current page shows if the student completed Any of the 2 courses! So the progress bar will be out of 2 (#/2) -->

      <!--Technical Electives Checklist (NEEDS TO BE FIXED) & PROGRESS TRACKER Already implemented just need to access technical electives-->
      <section class="checklist">
        <button type="button" class="collapsible subtitle">Technical Electives
            <div class="progress"> <!--Progress Bar-->
                <div class="progress-inner6"><p id="progress_count6">{{ Tech_width_num }}/2</p></div>
            </div>
        </button>
        <div class="content">
          {% for technical_elective in courses_array %}
            {% if technical_elective.designation == "Technical Elective" %}  <!--Need to print technical electives not CSC Electives--> 
              <input checked class="LibCheckBox" type="checkbox" disabled/>
              <label class="checkbox collapsible2" for="course_serial">{{technical_elective.serial}}</label>
              <div class="content2">
                <ul>
                  <li>Course Name: {{technical_elective.name}}</li>
                  <li>Course Description: {{technical_elective.description}} </li>
                  <li>Course Description: {{technical_elective.designation}} </li> 
                  <li>Course Credit: {{technical_elective.credits}} </li>
                  {% for score in scores %}
                    {% if score.grade and technical_elective.id == score.course_id %}
                      <li>Grade: {{score.grade}} </li>
                    {% endif %}
                  {% endfor %}
                </ul>
              </div>
              <hr>
            {% elif technical_elective.serial == "ENGR 27600" %}    <!-- Edge Case -->
              <input checked class="LibCheckBox" type="checkbox" disabled/>
                <label class="checkbox collapsible2" for="course_serial">{{technical_elective.serial}}</label>
                <div class="content2">
                  <ul>
                    <li>Course Name: {{technical_elective.name}}</li>
                    <li>Course Description: {{technical_elective.description}} </li>
                    <li>Course Description: {{technical_elective.designation}} </li> 
                    <li>Course Credit: {{technical_elective.credits}} </li>
                    {% for score in scores %}
                      {% if score.grade and technical_elective.id == score.course_id %}
                        <li>Grade: {{score.grade}} </li>
                      {% endif %}
                    {% endfor %}
                  </ul>
                </div>
                <hr>
            {% endif %}
          {% endfor %}
          <p style="font-size: smaller;">Note: Technical electives for Computer Science majors may be either Computer Science electives (except CSC 10000 and CSC 31700) or <i>advanced</i> courses in the following areas: Biology, Chemistry, Earth and Atmospheric Sciences (EAS), Mathematics, Physics, and Chemical, Civil, Electrical, and Mechanical Engineering.</p>
        </div>
        </section>
        <br>
    
    <!--Free Electives Checklist -->
    <section class="checklist">
      <button type="button" class="collapsible subtitle">Free Electives
        <div class="progress">
          <div class="progress-inner8"><p id="progress_count8">{{ FE_width_num }}/2</p></div>
        </div>
      </button>

      <div class="content">
        {% for course in free_courses %} <!--Need to fix so that free electives are displayed instead when completed -->  
          <input checked class="MathCheckBox" type="checkbox" disabled/>
          <label class="checkbox collapsible2" for="course_serial">{{course.serial}}</label>
          <div class="content2">
            <ul>
              <li>Course Name: {{ course.name }}</li>
              <hr>
              <li>Course Description: {{ course.description }} </li>
              <hr>
              <li>Course Designation: {{ course.designation }}</li> 
              <hr>
              <li>Course Credit: {{ course.credits }} </li>
              {% for score in scores %}
                {% if score.grade and course.id == score.course_id %}
                  <li>Grade: {{score.grade}} </li>
                  <hr>
                {% endif %}
              {% endfor %}
            </ul>
          </div>
          <hr>
        {% endfor %}
        <p style="font-size: smaller;">Note: Acceptable free electives are any courses offered by the College except the following:
          <br> Remedial courses, including pre-calculus math.
          <br> Courses at a lower level than required courses.
          <br> Courses that substantially duplicate material covered in other courses for which credit has been granted.
          <br> Worker education and independent study courses.
        </p>  
      </div>
    </section>
    <br>
    <br>

        </div>

        <div class="column">
            <!--Math Checklist -->
    <section class="checklist">
      <button type="button" class="collapsible subtitle">Math
        <div class="progress">
          <div class="progress-inner"><p id="progress_count">{{ Math_width_num }}/{{ math_count }}</p></div>
        </div>
      </button>
      <div class="content">
        {% for math_course in courses %}
          {% if math_course.dept == "MATH" and math_course.designation == "Core Requirement" %}
          {%if math_course is in courses_array %}  
            <input checked class="MathCheckBox" type="checkbox" disabled/>
            <label class="checkbox collapsible2" for="course_serial">{{math_course.serial}}</label>
            <div class="content2">
              <ul>
                <li>Course Name: {{math_course.name}}</li>
                <hr>
                <li>Course Description: {{math_course.description}} </li>
                <hr>
                <li>Course Designation: {{math_course.designation}}</li> 
                <hr>
                <li>Course Credit: {{math_course.credits}} </li>
                <hr>
                {% for score in scores %}
                  {% if score.grade and math_course.id == score.course_id %}
                    <li>Grade: {{score.grade}} </li>
                    <hr>
                  {% endif %}
                {% endfor %}
              </ul>
            </div>
          <hr>
          {%else%}
          <input class="MathCheckBox" type="checkbox" disabled/>
          <label class="checkbox collapsible2" for="course_serial">{{math_course.serial}}</label>
          <div class="content2">
            <ul>
              <li>Course Name: {{math_course.name}}</li>
              <hr>
              <li>Course Description: {{math_course.description}} </li>
              <hr>
              <li>Course Designation: {{math_course.designation}}</li> 
              <hr>
              <li>Course Credit: {{math_course.credits}} </li>
          </div>
        <hr>
          {% endif %}
          {% endif %}
        {% endfor %}
        <p style="font-size: smaller;">Note: Minimum grade of "C" required.</p>  
      </div>
    </section>
    <br>
    
    <!--Science Checklist -->
      <section class="checklist">
        <button type="button" class="collapsible subtitle">Science
            <div class="progress">
                <div class="progress-inner2"><p id="progress_count2">{{ Science_width_num }}/3</p></div>
            </div>
        </button>
        <div class="content">
        {% for science_elective in science_courses %}
          {% for score in scores %}
            {% if score.grade and science_elective.id == score.course_id %} <!-- Core Requirement CS courses -->
              <input checked class="ScienceCheckBox" type="checkbox" disabled/>
              <label class="checkbox collapsible2" for="course_serial">{{science_elective.serial}}</label>
                        <div class="content2">
                            <ul>
                                <li>Course Name: {{science_elective.name}}</li>
                                <hr>
                                <li>Course Description: {{science_elective.description}} </li>
                                <hr>
                                <li>Course Description: {{science_elective.designation}} </li> 
                                <hr>
                                <li>Course Credit: {{science_elective.credits}} </li>
                                <hr>
                                <li>Grade: {{score.grade}} </li>
                                <hr>
                            </ul>
                        </div>
                    <hr>
            {% endif %}
          {% endfor %} 
        {% endfor %} 
        <p style="font-size: smaller;">Note: You are required to take one science sequence and one additional science course.</p>
        </div>
        </section>
        <br>

                <!--Liberal Art Required Checklist -->
                <section class="checklist">
                  <button type="button" class="collapsible subtitle">Liberal Arts
                    <div class="progress">
                      <div class="progress-inner9"><p id="progress_count9">{{ Lib_Art_width_num }}/{{ req_lib_count }}</p></div>
                    </div>
                  </button>
                  <div class="content">
                    {% for liberal_art_course_req in lib_req_courses %}
                      {% if liberal_art_course_req.designation == "Required Liberal Art" %} 
                        {%if liberal_art_course_req is in courses_array%}  
                          <input checked type="checkbox" disabled/>
                          <label class="checkbox collapsible2" for="course_serial">{{liberal_art_course_req.serial}}</label>
                          <div class="content2">
                            <ul>
                              <li>Course Name: {{liberal_art_course_req.name}}</li>
                              <hr>
                              <li>Course Description: {{liberal_art_course_req.description}} </li>
                              <hr>
                              <li>Course Designation: {{liberal_art_course_req.designation}}</li> 
                              <hr>
                              <li>Course Credit: {{liberal_art_course_req.credits}} </li>
                              {% for score in scores %}
                                {% if score.grade and liberal_art_course_req.id == score.course_id %}
                                  <li>Grade: {{score.grade}} </li>
                                  <hr>
                                {% endif %}
                              {% endfor %}
                              </ul>
                            </div>
                          <hr>
                        {%else%}
                          <input type="checkbox" disabled/>
                          <label class="checkbox collapsible2" for="course_serial">{{liberal_art_course_req.serial}}</label>
                          <div class="content2">
                            <ul>
                              <li>Course Name: {{liberal_art_course_req.name}}</li>
                              <hr>
                              <li>Course Description: {{liberal_art_course_req.description}} </li>
                              <hr>
                              <li>Course Designation: {{liberal_art_course_req.designation}}</li> 
                              <hr>
                              <li>Course Credit: {{liberal_art_course_req.credits}} </li>
                          </div>
                          <hr>
                        {% endif %}
                      {% endif %}
                    {% endfor %}
                <p style="font-size: smaller;">Note: Reqired two english courses, speech, and either ENGR 27600 <i>or</i> ECO 10400</p>  
              </div>
                </section>
                <br>
        
        
    <!--Liberal Art Checklist -->
    <section class="checklist">
      <button type="button" class="collapsible subtitle">Flexible Pathways
          <div class="progress">
              <div class="progress-inner3"><p id="progress_count3">{{ Art_width_num }}/4</p></div>
          </div>
      </button>
      <div class="content">
      {% for liberal_art_course in pathway_courses %}
        <input checked class="LibCheckBox" type="checkbox" disabled/>
          <label class="checkbox collapsible2" for="course_serial">{{liberal_art_course.serial}}</label>
          <div class="content2">
            <ul>
              <li>Course Name: {{liberal_art_course.name}}</li>
              <hr>
              <li>Course Description: {{liberal_art_course.description}} </li>
              <hr>
              <li>Course Description: {{liberal_art_course.designation}} </li> 
              <hr>
              <li>Course Credit: {{liberal_art_course.credits}} </li>
              <hr>
              {% for score in scores %}
                {% if score.grade and liberal_art_course.id == score.course_id %}
                  <li>Grade: {{score.grade}} </li>
                  <hr>
                {% endif %}
              {% endfor %}
            </ul>
          </div>
          <hr>
      {% endfor %}  
      <p style="font-size: smaller;">Four courses from a list of General Education courses, at least two of which must be at the 200 level or above.</p>
      </div>
      </section>
      <br>
      <br>

        </div>
    </div>
  </div>

  {% if student.credit_earned >= 126 %} <!-- 126 is an arbitrary number the CS cirriculum credit completion count can vary! -->
    {% if Math_width == 100 and Science_width == 100 and Tech_width == 100 and CSE_width == 100 and Art_width == 100 and CS_width == 100 and FE_width == 100 and Lib_Art_width == 100 %}
      <hr>
      <center><h3><b>Congratulations!</b></h3></center>
      <center><h5 class="m-4">You are now finally eligible to:</h5></center>
      <hr>
      <center><a href="https://www.ccny.cuny.edu/registrar/application-for-graduation"><button type="button" class="btn btn-primary btn-round-lg btn-lg" style="padding: 1%;">Apply for Graduation!</button></a></center>
      <hr>
    {% endif %}
  {% endif %}
  


<style>

.column {
  float: left;
  width: 50%;
  padding: 3%;
  padding-bottom: 0%;
}

.checklist2{
  width: 45% ;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
    /* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: #d4e2ee;
  color: #233B7E;
  cursor: pointer;
  padding: 8%;
  width: 100%;
  border: none;
  text-align: left;
  outline: #233B7E;
  font-size: 15px;
}

.collapsible3 {
  background-color: #d4e2ee;
  color: #233B7E;
  cursor: pointer;
  padding: 2%;
  width: 100%;
  border: none;
  text-align: left;
  outline: #233B7E;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.collapsible:hover, .active {
    background-color: #233B7E;
    color: white;
}


/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 4%;
  display: none;
  overflow: hidden;
  background-color: #ececec;
}

.content2 {
  padding: 4%;
  display: none;
  overflow: hidden;
  background-color: #ececec;
}

.collapsible2{
  color: #233B7E;
  cursor: pointer;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  background-color: transparent;
}

.collapsible2:hover {
    color:#3772D7;
    background-color: transparent;
}

.content2 {
    display: none;
    padding-top: 3%;
    padding-left: 4%;
    padding-right: 2%;
    padding-bottom: 1px;
    background-color: #fafafa;
    color: #233B7E;
    font:  14px Open Sans Condensed, sans-serif;
}

.content4 {
    display: none;
    padding-top: 3%;
    padding-left: 4%;
    padding-right: 2%;
    padding-bottom: 1px;
    background-color: #fafafa;
    color: #233B7E;
    font:  14px Open Sans Condensed, sans-serif;
}

.title{
   color: #233B7E;
   font-size: 43px;
}
.title:hover{
    color:#3772D7;
    transition: all 0.8s ease-in;
}

.subtitle {
    font-size: 34px;
    text-align: center;
}

.subtitle2 {
    font-size: 15px;
    text-align: center;
}

.progress{
  width: 100%;
  height: 20px;
  background-color: white;
  border: 1px solid white;
  }

.progress-inner{
  background-color: #3772D7;
  width: {{Math_width}}%;
  height: 100%;
  text-align: center;
  padding-top: 2%;
  }

#progress_count2{
    font-size: 10px;
    align-items: center;
    color: white;
}

.progress-inner2{
  background-color: #3772D7;
  width: {{ Science_width }}%;
  height: 100%;
  text-align: center;
  padding-top: 2%;
}

#progress_count{
    font-size: 10px;
    align-items: center;
    color: white;
}

.progress-inner3{
  background-color: #3772D7;
  width: {{ Art_width }}%;
  height: 100%;
  text-align: center;
  padding-top: 2%;
  }

#progress_count3{
    font-size: 10px;
    align-items: center;
    color: white;
}

.progress-inner8{
  background-color: #3772D7;
  width: {{ FE_width }}%;
  height: 100%;
  text-align: center;
  padding-top: 2%;
  }

#progress_count8{
    font-size: 10px;
    align-items: center;
    color: white;
}

.progress-inner9{
  background-color: #3772D7;
  width: {{ Lib_Art_width }}%;
  height: 100%;
  text-align: center;
  padding-top: 2%;
  }

#progress_count9{
    font-size: 10px;
    align-items: center;
    color: white;
}

.progress-inner4{
  background-color: #3772D7;
  width: {{ CS_width }}%;
  height: 100%;
  text-align: center;
  padding-top: 2%;
  }

#progress_count4{
    font-size: 10px;
    align-items: center;
    color: white;
}

.progress-inner5{
  background-color: #3772D7;
  width: {{ CSE_width }}%;
  height: 100%;
  text-align: center;
  padding-top: 2%;
  }

#progress_count5{
    font-size: 10px;
    align-items: center;
    color: white;
}

.progress-inner6{
  background-color: #3772D7;
  width: {{ Tech_width }}%;
  height: 100%;
  text-align: center;
  padding-top: 2%;
  }

#progress_count6{
    font-size: 10px;
    align-items: center;
    color: white;
}

label{
    font-size: 15px;
    color: #233B7E;
    position: absolute;
    padding-left: 4px;
    transition: all 0.3s ease-in;
}

label:hover{
    color: #3772D7;
}


input[type=checkbox]:checked + label {
color: #233B7E;
opacity: 0.6;
}

.btn{
padding: 0%;
}
.card-body{
    padding-bottom: 0px;
    font-size: x-small;
    color: #233B7E;
}

ul {
  list-style: none;
  padding: 2%;
}
li:hover{
    color: #3772D7;
    font-size: medium;
}

  /* To make homepage responsive */ 
  @media only screen and (max-width: 800px) {
    .title{
        font-size: 29px;
    }
    .subtitle{
        font-size: 26px;
    }
    .column {
  float: left;
  width: 100%;
  padding: 0%;
}  
.progress{
  padding: 0.80%;
}  

}
</style>


<script>
/*Makes the course section toggle*/
var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.display === "block") {
      content.style.display = "none";
    } else {
      content.style.display = "block";
    }
  });
}

/*Makes the course serial toggle*/
var collapseible = document.getElementsByClassName("collapsible2");
var j;

for (j = 0; i < collapseible.length; j++) {
    collapseible[j].addEventListener("click", function() {
    this.classList.toggle("active");
    var content2 = this.nextElementSibling;
    if (content2.style.display === "block") {
      content2.style.display = "none";
    } else {
      content2.style.display = "block";
    }
  });
}

var collapseible3 = document.getElementsByClassName("collapsible3");
var c;

for (c = 0; i < collapseible3.length; c++) {
    collapseible3[c].addEventListener("click", function() {
    this.classList.toggle("active");
    var content3 = this.nextElementSibling;
    if (content3.style.display === "block") {
      content3.style.display = "none";
    } else {
      content3.style.display = "block";
    }
  });
}

var collapseible4 = document.getElementsByClassName("collapsible4");
var k;

for (k = 0; i < collapseible4.length; k++) {
    collapseible4[k].addEventListener("click", function() {
    this.classList.toggle("active");
    var content4 = this.nextElementSibling;
    if (content4.style.display === "block") {
      content4.style.display = "none";
    } else {
      content4.style.display = "block";
    }
  });
}

</script>


{% endblock content %}