{% extends "layout.html"%}
{% block content %}

<div>
    <!-- start of Table -->
    <section>
        <div class="container-fluid">       <!-- Container Grid -->
            <div class="row mb-5">          <!-- Row -->
                <div class="col-xl-12 col-lg-10 col-md-8 panel-body">       <!-- Column -->
                    <div class="row">       <!-- Inner Grid -->
                        <div class="col-12 mb-4">
                            <h3 class="text-dark text-center mb-3">Course Information Form (CCNY)</h3>
                        </div>
                        <div class="col-12 mb-4">
                            <h5 class="text-dark text-center mb-3">{{ student.EMPLID, student.firstname, student.lastname, student.middlename, student.credit_earned, student.credit_taken }}</h3>
                        </div>
                        <table class="table table-striped bg-light text-center">
                            <thead>
                                <tr class="text-muted">
                                    <th>    </th>
                                    <th>Course Code:</th>
                                    <th>Course Name:</th>
                                    <th>Credits awarded:</th>
                                    <th>Grade:</th>
                                    <th>Currently Enrolled:</th>
                                </tr>
                            </thead>
                            <tbody>
                                <form method="POST" action="" enctype="multipart/form-data">
                                    {% for course in courses %}
                                        <tr>
                                            <th>   </th> <!-- Must be left blank for formatting purposes! -->
                                            <td>{{ course.serial }}</td>
                                            <td>{{ course.name }}</td>
                                            <td>{{ course.credits }}</td>
                                            {% for grade in course.grade_awarded %}
                                                <td>{{ grade.grade }}</td>
                                            {% endfor %}
                                        </tr>
                                    {% endfor %}
                                </form>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End of Table -->
</div>

{% endblock content %} 