{% extends "layout.html"%}
{% block content %}

<div>
    <!-- start of Table -->
    <section>
        <div class="container-fluid">       <!-- Container Grid -->
            <div class="row mb-5">          <!-- Row -->
                <div class="col-xl-12 col-lg-10 col-md-8 panel-body">       <!-- Column -->
                    <div class="row">       <!-- Inner Grid -->
                        <div class="col-12 mb-4">
                            <h3 class="text-dark text-center mb-3">CCNY Student Advisement Form</h3>
                        </div>
                        <table class="table table-striped bg-light text-center">
                            <thead>
                                <tr class="text-muted">
                                    <th>    </th>
                                    <th>{{ form.serial.label(class="form-control-label") }}</th>
                                    <th>{{ form.name.label(class="form-control-label") }}</th>
                                    <th>{{ form.instructor.label(class="form-control-label") }}</th>
                                    <th>{{ form.credits.label(class="form-control-label") }}</th>
                                    <th>{{ form.grade.label(class="form-control-label") }}</th>
                                    <th>{{ form.currently_enrolled.label(class="form-control-label") }}</th>
                                    <th>{{ form.intend_to_take.label(class="form-control-label") }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>Math</th>
                                    <td>   
                                        {% if form.serial.errors %}
                                            {{ form.serial(class="form-control form-control-lg is-invalid") }}
                                            <div class="invalid-feedback">
                                            {% for error in form.serial.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                            </div>
                                        {% else %}
                                            {{ form.serial(class="form-control form-control-lg") }}
                                        {% endif %} 
                                    </td>
                                    <td> 
                                        {% if form.name.errors %}
                                            {{ form.name(class="form-control form-control-lg is-invalid") }}
                                            <div class="invalid-feedback">
                                                {% for error in form.name.errors %}
                                                    <span>{{ error }}</span>
                                                {% endfor %}
                                            </div>
                                        {% else %}
                                            {{ form.name(class="form-control form-control-lg") }}
                                        {% endif %} 
                                    </td>
                                    <td>
                                        {% if form.instructor.errors %}
                                            {{ form.instructor(class="form-control form-control-lg is-invalid") }}
                                            <div class="invalid-feedback">
                                                {% for error in form.instructor.errors %}
                                                    <span>{{ error }}</span>
                                                {% endfor %}
                                            </div>
                                        {% else %}
                                            {{ form.instructor(class="form-control form-control-lg") }}
                                        {% endif %} 
                                    </td>
                                    <td>
                                        {% if form.credits.errors %}
                                            {{ form.credits(class="form-control form-control-lg is-invalid") }}
                                            <div class="invalid-feedback">
                                                {% for error in form.credits.errors %}
                                                    <span>{{ error }}</span>
                                                {% endfor %}
                                            </div>
                                        {% else %}
                                            {{ form.credits(class="form-control form-control-lg") }}
                                        {% endif %}
                                    </td>
                                    <td> 
                                        {% if form.grade.errors %}
                                            {{ form.grade(class="form-control form-control-lg is-invalid") }}
                                            <div class="invalid-feedback">
                                                {% for error in form.grade.errors %}
                                                    <span>{{ error }}</span>
                                                {% endfor %}
                                            </div>
                                        {% else %}
                                            {{ form.grade(class="form-control form-control-lg") }}
                                        {% endif %}
                                    </td>
                                    <td> 
                                        {% if form.currently_enrolled.errors %}
                                            {{ form.currently_enrolled(class="form-control form-control-lg is-invalid") }}
                                            <div class="invalid-feedback">
                                                {% for error in form.currently_enrolled.errors %}
                                                    <span>{{ error }}</span>
                                                {% endfor %}
                                            </div>
                                        {% else %}
                                            {{ form.currently_enrolled(class="form-control form-control-lg") }}
                                        {% endif %}
                                    </td>
                                    <td> 
                                        {% if form.intend_to_take.errors %}
                                            {{ form.intend_to_take(class="form-control form-control-lg is-invalid") }}
                                            <div class="invalid-feedback">
                                                {% for error in form.intend_to_take.errors %}
                                                    <span>{{ error }}</span>
                                                {% endfor %}
                                            </div>
                                        {% else %}
                                            {{ form.intend_to_take(class="form-control form-control-lg") }}
                                        {% endif %}
                                    </td>
                                    <td> 
                                        <div class="form-group">
                                            {{ form.submit(class="btn btn-outline-info") }}
                                        </div>
                                    </td>
                                </tr>
                                
                                {% for course in courses %}
                                    <tr>
                                        <th>   </th> <!-- Must be left blank for formatting purposes! -->
                                        <td>{{ course.serial }}</td>
                                        <td>{{ course.name }}</td>
                                        <td>{{ course.instructor }}</td>
                                        <td>{{ course.credits }}</td>
                                    </tr>
                                {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End of Table -->
</div>

{% endblock content %} 