{% extends "layout.html" %}
{% block content %}

<div class="c_viewport rounded">
    <div class="push" style="height:1px;"></div>
<center><legend class="border-bottom mb-4 title">Edit Workflow</legend></center>
<form method="POST" action="" enctype="multipart/form-data">

<h6 class="sub-title">For students under 45 credits:<a style="float: right; display: inline; text-decoration: none;" href="{{ url_for('preview_workflow') }}">|| Preview Workflow ||</a></h6>
<div class="form-check">
    {{ form.under_advisement(class="form-check-input") }}
    {{ form.under_advisement.label(class="info") }}
<br>
</div>
<div class="form-check">
    {{ form.under_faculty(class="form-check-input") }}
    {{ form.under_faculty.label(class="info") }}
<br>
</div>
<div class="form-check">
    {{ form.under_academic(class="form-check-input") }}
    {{ form.under_academic.label(class="info") }}
<br>
</div>
<div class="form-check">
    {{ form.under_enrollment(class="form-check-input") }}
    {{ form.under_enrollment.label(class="info") }}
</div>
<hr>

<h6 class="sub-title">For students above 45 credits:<a style="float: right; display: inline; text-decoration: none;" href="{{ url_for('preview_workflow2') }}">|| Preview Workflow ||</a></h6>
<div class="form-check">
    {{ form.above_advisement(class="form-check-input") }}
    {{ form.above_advisement.label(class="info") }}
<br>
</div>
<div class="form-check">
    {{ form.above_faculty(class="form-check-input") }}
    {{ form.above_faculty.label(class="info") }}
<br>
</div>
<div class="form-check">
    {{ form.above_academic(class="form-check-input") }}
    {{ form.above_academic.label(class="info") }}
<br>
</div>
<div class="form-check">
    {{ form.above_enrollment(class="form-check-input") }}
    {{ form.above_enrollment.label(class="info") }}
<hr>
</div>
<div class="form-group">
    {{ form.csrf_token }}
    {{ form.submit(class="btn custom-button-submit") }}
    <ul>
    {% for error in form.submit.errors %}
        <li style="color:red;">{{ error }}</li>
    {% endfor %}
    </ul>
</div>
</form>
</div>

<style>
body{
    padding-top: 1.75% ;
}

.c_viewport{
    padding-top: 2.9%;
    padding-right: 4%;
    padding-left: 4%;
    color: rgb(27,30,36);
    margin: 20px 0;
    height: 585px;
    overflow: auto;
    background: #FFFFFF;
    box-shadow: 0px 4px 25px 10px rgba(0, 0, 0, 0.15);
}

.custom-button-submit {
    background: linear-gradient(91.29deg, #3772D7 3.02%, #233B7E 100%);
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.15);
    border-radius: 0%;
    color: hsl(0, 0%, 100%);
    padding: 10px;
    border: none;
    width: 100%;
    cursor: pointer;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
}

.custom-button-submit:hover{
    transition: ease-in;
    background: #233B7E;
    color: white;
}

.title{
    font-family: Poppins;
    font-style: normal;
    font-weight: bolder;
    font-size: 32px;
    color: #233B7E;
}

.title:hover{
    color: #3772D7;
}

.sub-title{
    text-decoration-line: underline;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
}

.info{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;   
    color: #233B7E;
}    

</style>

{% endblock content %}
