{% extends "layout.html"%}
{% block content %}
    <hr>
    <div class="mt-3 mb-3">
        <a class="custom-button-submit" href="{{ url_for('student_course_info') }}">Edit an existing Course in the Cirriculum?</a>
    </div>
    <hr>
    <table class="table table-striped bg-light text-center">
        <thead>
            <tr class="text-muted">
                <th>Course ID:</th>
                <th>Course Serial:</th>
                <th>Course Name:</th>
                <th>Course Department:</th>
                <th>Course Description:</th>
                <th>Designation:</th>
                <th>Credits Earned: </th>
            </tr>
        </thead>

        <tbody>
            <form method="POST" action="" enctype="multipart/form-data">
                <tr>
                    <td> # </td>
                    <td>{{ form.serial(class="form-control") }}</td>
                    <td>{{ form.course_name(class="form-control") }}</td>
                    <td>{{ form.dept(class="form-control") }}</td>
                    <td>{{ form.course_description(class="form-control") }}</td>
                    <td>{{ form.designation(class="form-control") }}</td>
                    <td>{{ form.credits(class="form-control") }}</td>
                    <td>{{ form.submit(class="custom-button-submit") }}</td>
                </tr>
            </form>
            {%for course in courses %}
                <tr class="text-center">
                    <td> {{ course.id }}</td>
                    <td>{{ course.serial }}</td>
                    <td>{{ course.name }}</td>
                    <td>{{ course.dept }}</td>
                    <td>{{ course.description }}</td>
                    <td>{{ course.designation }}</td>
                    <td>{{ course.credits }}</td>
                    <td><a class="btn rounded custom-button-submit" href="{{ url_for('delete_course',course_id=course.id) }}">Delete</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>


<style>
 .form-control{
    border-radius: 50px;
    font:  15px  Open Sans Condensed, sans-serif;
    color: #3772D7;
    text-align: center;
   }
   .form-control:focus{
    border-color: #3772D7;
    box-shadow: none;
    -webkit-box-shadow: none;}

legend{
    font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 12px;
}
.c_viewport{
  padding: 4%;
  color: rgb(27,30,36);
  margin: 20px 0;
  height: 655px;
  overflow: auto;
  background: #FFFFFF;
box-shadow: 0px 4px 25px 10px rgba(0, 0, 0, 0.15);
}

.custom-button-submit {
    background: linear-gradient(91.29deg, #3772D7 3.02%, #233B7E 100%);
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.15);
    border-radius: 0%;
    color: hsl(0, 0%, 100%);
    padding: 10px;
    border: none;
    width: 100%;
    cursor: pointer;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
}

.custom-button-submit:hover{
    transition: ease-in;
    background: #233B7E;
    color: white;
}

.content-section{
    width: 50%;
    padding: 1%;
    background: #FFFFFF;
    box-shadow: 0px 4px 25px 10px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}
h2{
    font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 15px;
color: #233B7E;   
}
h3{
    font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 35px;

color: #233B7E;
}
</style>

{% endblock %}