{% extends "layout.html" %}
{% block content %}
    <div class="custom-base-container">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <center>
                 <h1 class="Login-Header">Login</h1>
                 <img src="../static/Images/GradCap.svg" style="width: 20%;">
                <h6>Using your CCNY Credentials</h4>
                </center>
 
                <div class='form-group'>
                    {{ form.email.label(class="form-control-label") }}
                    
                    {% if form.email.errors %}
                    {{ form.email(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.email.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                        {{ form.email(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class='form-group'>
                    {{ form.password.label(class="form-control-label") }}

                    {% if form.password.errors %}
                    {{ form.password(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.password.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                        {{ form.password(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-check">
                    {{ form.remember(class="form-check-input") }}
                    {{ form.remember.label(class="form-check-label") }}
                </div>
            </fieldset>
            <center>
            <div class="form-group">
                {{ form.submit(class="custom-button-login") }}
            </div>
            <hr>
        </center>
            <small class="text-muted ml-2">
                <a href="#">Forgot Password?</a>
            </small>
            <small class="text-muted ml-2">
                <a href="#">Forgot Username?</a>
            </small>
            <small class="text-muted" style="float: right;" >
                Need an account? <a class="ml-2" href="{{ url_for('register') }}">Sign Up Now</a>
            </small>
        </form>

<style>
body{
    padding-top: 3%;
    color: #3772D7;
    padding-bottom: 5%
}

@import url("https://www.google.com/fonts#UsePlace:use/Collection:Open+Sans+Condensed:300");
@import url('https://fonts.googleapis.com/css2?family=Ballet&family=Lobster&display=swap');
.Login-Header{
    font:  40px 'Lobster', cursive;
    color:  #3772D7;
}
.custom-base-container {
  padding: 3.5%;
  margin: auto;
  width: 60%;
  height: 100%;
  background: #FFFFFF;
  box-shadow: 0px 4px 25px #bdbdbd;
  border-radius: 10px;
}
.custom-button-login {
    background: linear-gradient(91.29deg, #3772D7 3.02%, #233B7E 100%);
box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.15);
border-radius: 50px;
color: hsl(0, 0%, 100%);
padding: 10px;
border: none;
width: 40%;
cursor: pointer;
font-style: normal;
font-weight: bold;
font:  22px Open Sans Condensed, sans-serif;
}
.custom-button-login:hover{
  background:#233B7E;
}
@media only screen and (max-width: 800px) {
    .custom-base-container{
        width: 100%;
        padding: 7%;
   }

</style>
{% endblock content %}