{% extends "layout.html"%}
{% block content %}
<div class="c_viewport rounded">
    <div class="push" style="height:1px;"></div>
<div>
    <!-- start of Table -->
    <section>
        <div class="container-fluid">       <!-- Container Grid -->
            <div class="row mt-auto mb-5">          <!-- Row -->
                <div class="col-xl-12 col-lg-10 col-md-8 panel-body">       <!-- Column -->

                    <center><legend class=" title">Edit Computer Science Cirriculum</legend></center>
                    <hr>
                    <center><a class="btn custom-button-submit" href="{{ url_for('add_remove_course') }}">Add new Course to Cirriculum?</a></center> 
                    <hr>

                    <div class="row">       <!-- Inner Grid -->
                        <table class="table table-striped bg-light text-center">
                            <thead>
                                <tr class="text-muted">
                                    <th>Course Serial:</th>
                                    <th>Course Name:</th>
                                    <th>Course Department:</th>
                                    <th>Credits: </th>
                                    <th>Designation:</th>
                                    <th>Course Description:</th>
                                </tr>
                            </thead>

                            <tbody>
                                <form method="POST" action="" enctype="multipart/form-data">
                                    <fieldset class="form-group">
                                        {{ form.csrf_token }}

                                        {% for field in form.courses %}
                                            <tr class="text-center">
                                                <td>{{ field.serial(class="form-control") }}</td>
                                                <td>{{ field.course_name(class="form-control")  }}</td>
                                                <td style="width:10%">{{ field.dept(class="form-control")  }}</td>   
                                                <td style="width:10%">{{ field.credits(class="form-control")  }}</td> 
                                                <td>{{ field.designation(class="form-control")  }}</td>
                                                <td>{{ field.course_description(class="form-control")  }}</td>
                                            </tr>
                                        {% endfor %}
                                            <tr>
                                                <td></td>
                                                <td></td>
                                                <td>{{ form.submit(class="btn custom-button-submit") }}</td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                    </fieldset>
                                </form>
                            </tbody>

                        </table>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!-- End of Table -->
</div>
</div>
<style>
     .title{
    font-family: Poppins;
    font-style: normal;
    font-weight: bolder;
    font-size: 32px;
    color: #233B7E;
    }
    .title:hover{
    color: #3772D7;
    }
    .form-control{
    border-radius: 50px;
    font:  15px  Open Sans Condensed, sans-serif;
    color: #3772D7;
    text-align: center;
   }
   .form-control:focus{
    border-color: #3772D7;
    box-shadow: none;
    -webkit-box-shadow: none;}
.custom-button-submit {
    background: linear-gradient(91.29deg, #3772D7 3.02%, #233B7E 100%);
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.15);
    border-radius: 0.5;
    color: hsl(0, 0%, 100%);
    padding: 10px;
    border: none;
    width: 100%;
    cursor: pointer;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
}

.custom-button-submit:hover{
    transition: ease-in;
    background: #233B7E;
    color: white;
}

.content-section{
    width: 90%;
    padding: 5%;
    background: #FFFFFF;
    box-shadow: 0px 4px 25px 10px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}
.c_viewport{
  padding: 1%;
  color: rgb(27,30,36);
  margin: 20px 0;
  height: 660px;
  overflow: auto;
  background: #FFFFFF;
box-shadow: 0px 4px 25px 10px rgba(0, 0, 0, 0.15);
}
</style>

{% endblock content %} 