{% extends "layout.html" %}
{% block content %}
<center>
    <div class="content-section">
        <div class="media" >
          <img class="rounded-circle account-img" src="{{ profile_image }}">
          <div class="form-group" style="padding-right: 15%; text-align: left;">
            {{ form.picture.label() }}
            {{ form.picture(class="form-control-file") }}
            <!-- Standard Exception Handling: -->
            {% if form.picture.errors %}
              {% for error in form.picture.errors %}
                <span class="text-danger">{{ error }}</span><br>
              {% endfor %}
            {% endif %}
          </div>
        </div>
        <form method="POST" action="" enctype="multipart/form-data">
          {{ form.hidden_tag() }}
          <hr>
          <fieldset class="form-group">
            <legend class="border-bottom mb-4">Account Info</legend>
            <div class="row">
              <div class="column">
                <div class='form-group'>
                  {{ form.firstname.label(class="form-control-label") }}
    
                  {% if form.firstname.errors %}
                  {{ form.firstname(class="form-control form-control-lg is-invalid") }}
                  <div class="invalid-feedback">
                      {% for error in form.firstname.errors %}
                          <span>{{ error }}</span>
                      {% endfor %}
                  </div>
                  {% else %}
                      {{ form.firstname(class="form-control form-control-lg") }}
                  {% endif %}
              </div>


            <div class='form-group'>
              {{ form.EMPLID.label(class="form-control-label") }}
              <!-- Standard Exception Handling: -->
              {% if form.EMPLID.errors %}
                {{ form.EMPLID(class="form-control form-control-lg is-invalid") }}
                  <div class="invalid-feedback">
                    {% for error in form.EMPLID.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                  </div>
                {% else %}
                  {{ form.EMPLID(class="form-control form-control-lg") }}
              {% endif %}
            </div>

              </div>
              <div class="column">
                <div class='form-group'>
                  {{ form.lastname.label(class="form-control-label") }}
    
                  {% if form.lastname.errors %}
                  {{ form.lastname(class="form-control form-control-lg is-invalid") }}
                  <div class="invalid-feedback">
                      {% for error in form.lastname.errors %}
                          <span>{{ error }}</span>
                      {% endfor %}
                  </div>
                  {% else %}
                      {{ form.lastname(class="form-control form-control-lg") }}
                  {% endif %}
              </div>

            <div class='form-group'>
              {{ form.email.label(class="form-control-label") }}
              <!-- Standard Exception Handling: -->
              {% if form.email.errors %}
                {{ form.email(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                  {% for error in form.email.errors %}
                    <span>{{ error }}</span>
                  {% endfor %}
                </div>
                {% else %}
                  {{ form.email(class="form-control form-control-lg") }}
              {% endif %}
            </div>
              </div>
            </div>

          <div class='form-group'>
            {{ form.bio.label(class="form-control-label") }}
            <!-- Standard Exception Handling: -->
            {% if form.bio.errors %}
              {{ form.bio(class="form-control form-control-lg is-invalid") }}
              <div class="invalid-feedback">
                {% for error in form.bio.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
              </div>
            {% else %}
              {{ form.bio(class="form-control form-control-lg") }}
            {% endif %}
          </div>
          </fieldset>
          <div class="form-group">
              {{ form.submit(class="btn custom-button-profile-update") }}
          </div>
        </form>
    </div>

</center>
<style>
  body{
    padding-top: 3%;
  }
  .column {
  float: left;
  width: 50%;
  padding: 1%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
    legend{
        font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 25px;
padding-bottom: 15px;

color: #233B7E;
    }
    label{
        font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 100%;
    }

.media{
  padding-left: 20%;
}
label{
  color: #233B7E;
}
    .form-control{
    border-radius: 50px;
    font:  15px  Open Sans Condensed, sans-serif;
    color: #3772D7;
    text-align: center;
   }
   .form-control:focus{
    border-color: #3772D7;
    box-shadow: none;
    -webkit-box-shadow: none;}
    .content-section{
  width: 60%;
  padding: 3%;
  padding-bottom: 0%;
  background: #FFFFFF;
box-shadow: 0px 4px 25px 10px rgba(0, 0, 0, 0.15);
border-radius: 25px;
}
.custom-button-profile-update {
    background: linear-gradient(91.29deg, #3772D7 3.02%, #233B7E 100%);
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.15);
    border-radius: 50px;
    color: hsl(0, 0%, 100%);
    padding: 10px;
    border: none;
    width: 40%;
    cursor: pointer;
    font-family: Poppins;
font-style: normal;
font-weight: bold;
    }
    .custom-button-profile-update:hover{
        background-color: #233B7E;
        color: white;
    }

    @media only screen and (max-width: 800px) {
        legend{
            font-size: 20px;
        }
        .content-section{
  width: 95%;
  padding: 6%;
        }
      .media{
        padding-left: 8%;
      }
      .account-img{
        float: left;
      }
    }
</style>
{% endblock content %}
