{% extends "layout.html" %}
{% block content %}


{%if  current_user.studentOwner.credit_earned <= 45 %}
  <div class="myprogress py-5">
    <!--    rbg(0,0,255)-->
    {% if editworkflow.under_advisement == True %}
    <div class="circle align-middle" style="background-color:#233B7E;">
      <span class="title" >
        <svg xmlns={{ url_for('static', filename="Images/check.svg") }} width="110" height="110" fill="rgb(255,255,255)"  viewBox="0 0 16 16">
          <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
        </svg>
      </span>
      <span class="align-middle" >Filled out Advisement Form</span>
    </div>
    {% endif %}

    {% if editworkflow.under_faculty == True %}
      {%if notes.be_advised == True%}
      {% if editworkflow.under_advisement == True %}
      <span class="progress" >
        <div class="progress-bar" role="progressbar" style="width:100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
      </span>
      {%endif%}

      <div class="circle align-middle" style="background-color:#233B7E;">
        <span class="title" >
          <svg xmlns={{ url_for('static', filename="Images/check.svg") }} width="110" height="110" fill="rgb(255,255,255)"  viewBox="0 0 16 16">
            <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
          </svg>
        </span>
        <span>Faculty Advisor Revision</span>
      </div>
      {%else%}
      {% if editworkflow.under_advisement == True %}
      <span class="progress" >
        <div class="progress-bar w-50" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
      </span>
      {%endif%}

      <div class="circle align-middle">
        <span class="title" >
          <svg xmlns={{ url_for('static', filename="Images/check.svg") }} width="110" height="110" fill="currentColor"  viewBox="0 0 16 16">
            <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
          </svg>
        </span>
        <span>Faculty Advisor Revision</span>
      </div>
      {%endif%}
    {%endif%}

    {% if editworkflow.under_academic == True %}
      {%if notes.approval == True %}
      {% if editworkflow.under_faculty == True or editworkflow.under_advisement == True %}
      <span class="progress" >
        <div class="progress-bar" role="progressbar" style="width:100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
      </span>
      {%endif%}

      <div class="circle align-middle" style="background-color:#233B7E;">
        <span class="title" >
          <svg xmlns={{ url_for('static', filename="Images/check.svg") }} width="110" height="110" fill="rgb(255,255,255)"  viewBox="0 0 16 16">
            <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
          </svg>
        </span>
        <span>Academic Advisor Revision</span>
      </div>
      {%elif notes.be_advised == True%}
      {%  if editworkflow.under_faculty == True or editworkflow.under_advisement == True  %}
      <span class="progress" >
        <div class="progress-bar w-50" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
      </span>
      {%endif%}

      <div class="circle align-middle" >
        <span class="title" >
          <svg xmlns={{ url_for('static', filename="Images/check.svg") }} width="110" height="110" fill="currentColor"  viewBox="0 0 16 16">
            <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
          </svg>
        </span>
        <span>Academic Advisor Revision</span>
      </div>
      {%else%}
      {% if editworkflow.under_faculty == True or editworkflow.under_advisement == True  %}
      <span class="progress" >
        <div class="progress-bar" role="progressbar"  aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
      </span>
      {%endif%}

      <div class="circle align-middle" >
        <span class="title" >
          <svg xmlns={{ url_for('static', filename="Images/check.svg") }} width="110" height="110" fill="currentColor"  viewBox="0 0 16 16">
            <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
          </svg>
        </span>
        <span>Academic Advisor Revision</span>
      </div>
      {%endif%}
    {%endif%}

  {% if editworkflow.under_enrollment == True %}
    {% if notes.be_advised == True and notes.approval == True %}
    {% if editworkflow.under_academic == True or editworkflow.under_faculty == True or editworkflow.under_advisement == True  %}
      <span class="progress" >
        <div class="progress-bar" role="progressbar" style="width:100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
      </span>
      {%endif%}

      <div class="circle align-middle" style="background-color:#233B7E;">
        <span class="title" >
          <svg xmlns={{ url_for('static', filename="Images/check.svg") }} width="110" height="110" fill="rgb(255,255,255)"  viewBox="0 0 16 16">
            <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
          </svg>
        </span>
        <span>Enrollment Approved</span>
      </div>
      {%else%}
      {% if editworkflow.under_academic == True or editworkflow.under_faculty == True or editworkflow.under_advisement == True  %}
      <span class="progress" >
        <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
      </span>
      {%endif%}


      <div class="circle align-middle">
        <span class="title" >
          <svg xmlns={{ url_for('static', filename="Images/check.svg") }} width="110" height="110" fill="currentColor"  viewBox="0 0 16 16">
            <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
          </svg>
        </span>
        <span>Enrollment Approved</span>
      </div>
      {%endif%}
    {%endif%}
  </div>



{%elif  current_user.studentOwner.credit_earned > 45 %}
<div class="myprogress py-5">
  <!--    rbg(0,0,255)-->
  {% if editworkflow.above_advisement == True %}
  <div class="circle align-middle" style="background-color:#233B7E;">
    <span class="title" >
      <svg xmlns={{ url_for('static', filename="Images/check.svg") }} width="110" height="110" fill="rgb(255,255,255)"  viewBox="0 0 16 16">
        <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
      </svg>
    </span>
    <span class="align-middle" >Filled out Advisement Form</span>
  </div>
  {% endif %}
  {% if editworkflow.above_faculty == True %}
    {%if notes.be_advised == True%}
    {% if editworkflow.above_advisement == True %}
    <span class="progress" >
      <div class="progress-bar" role="progressbar" style="width:100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
    </span>
    {%endif%}

    <div class="circle align-middle" style="background-color:#233B7E;">
      <span class="title" >
        <svg xmlns={{ url_for('static', filename="Images/check.svg") }} width="110" height="110" fill="rgb(255,255,255)"  viewBox="0 0 16 16">
          <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
        </svg>
      </span>
      <span>Faculty Advisor Revision</span>
    </div>
    {%else%}
    {% if editworkflow.above_advisement == True %}
    <span class="progress" >
      <div class="progress-bar w-50" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
    </span>
    {%endif%}

    <div class="circle align-middle">
      <span class="title" >
        <svg xmlns={{ url_for('static', filename="Images/check.svg") }} width="110" height="110" fill="currentColor"  viewBox="0 0 16 16">
          <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
        </svg>
      </span>
      <span>Faculty Advisor Revision</span>
    </div>
    {%endif%}
  {%endif%}

  {% if editworkflow.above_academic == True %}
    {%if notes.approval == True %}
    {%  if editworkflow.above_faculty == True or editworkflow.above_advisement == True  %}
    <span class="progress" >
      <div class="progress-bar" role="progressbar" style="width:100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
    </span>
    {%endif%}

    <div class="circle align-middle" style="background-color:#233B7E;">
      <span class="title" >
        <svg xmlns={{ url_for('static', filename="Images/check.svg") }} width="110" height="110" fill="rgb(255,255,255)"  viewBox="0 0 16 16">
          <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
        </svg>
      </span>
      <span>Academic Advisor Revision</span>
    </div>
    {%elif notes.be_advised == True%}
    {%  if editworkflow.above_faculty == True or editworkflow.above_advisement == True  %}
    <span class="progress" >
      <div class="progress-bar w-50" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
    </span>
    {%endif%}

    <div class="circle align-middle" >
      <span class="title" >
        <svg xmlns={{ url_for('static', filename="Images/check.svg") }} width="110" height="110" fill="currentColor"  viewBox="0 0 16 16">
          <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
        </svg>
      </span>
      <span>Academic Advisor Revision</span>
    </div>
    {%else%}
    {% if editworkflow.above_faculty == True or editworkflow.above_advisement == True %}
    <span class="progress" >
      <div class="progress-bar" role="progressbar"  aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
    </span>
    {%endif%}

    <div class="circle align-middle" >
      <span class="title" >
        <svg xmlns={{ url_for('static', filename="Images/check.svg") }} width="110" height="110" fill="currentColor"  viewBox="0 0 16 16">
          <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
        </svg>
      </span>
      <span>Academic Advisor Revision</span>
    </div>
    {%endif%}
  {%endif%}

{% if editworkflow.above_enrollment == True %}
  {% if notes.be_advised == True and notes.approval == True %}
  {% if editworkflow.under_academic == True or editworkflow.under_faculty == True or editworkflow.under_advisement == True  %}
    <span class="progress" >
      <div class="progress-bar" role="progressbar" style="width:100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
    </span>
    {%endif%}

    <div class="circle align-middle" style="background-color:#233B7E;">
      <span class="title" >
        <svg xmlns={{ url_for('static', filename="Images/check.svg") }} width="110" height="110" fill="rgb(255,255,255)"  viewBox="0 0 16 16">
          <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
        </svg>
      </span>
      <span>Enrollment Approved</span>
    </div>
    {%else%}
    {% if editworkflow.under_academic == True or editworkflow.under_faculty == True or editworkflow.under_advisement == True  %}
    <span class="progress" >
      <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
    </span>
    {%endif%}


    <div class="circle align-middle">
      <span class="title" >
        <svg xmlns={{ url_for('static', filename="Images/check.svg") }} width="110" height="110" fill="currentColor"  viewBox="0 0 16 16">
          <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
        </svg>
      </span>
      <span>Enrollment Approved</span>
    </div>
    {%endif%}
  {%endif%}
</div>

  {%endif%}

  <form method="POST" action="" enctype="multipart/form-data">

  {%if notes.be_advised == False %}
  <div class="container d-flex justify-content-center py-5 m-5">
    <div class="card shaodw-lg card-1">
        <div class="card-header pt-3 py-3 ml-auto border-0 ">
<!--            <svg class="cursor-pointer" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="20" height="20" viewBox="0 0 172 172" style=" fill:#000000;">-->
<!--                <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal">-->
<!--                    <path d="M0,172v-172h172v172z" fill="none"></path>-->
<!--                    <g fill="#ffffff">-->
<!--                        <path d="M33.73372,23.59961l-10.13411,10.13411l52.26628,52.26628l-52.26628,52.26628l10.13411,10.13411l52.26628,-52.26628l52.26628,52.26628l10.13411,-10.13411l-52.26628,-52.26628l52.26628,-52.26628l-10.13411,-10.13411l-52.26628,52.26628z"></path>-->
<!--                    </g>-->
<!--                </g>-->
<!--            </svg>-->
        </div>
        <div class="card-body d-flex pt-0">
            <div class="row no-gutters mx-auto justify-content-start flex-sm-row flex-column">
                <div class="col-md-4 text-center"><img class="irc_mi img-fluid mr-0" src="https://cdn4.iconfinder.com/data/icons/logistics-delivery-2-5/64/137-512.png" width="150" height="150"></div>
                <div class="col-md-8 ">
                    <div class="card border-0 ">
                        <div class="card-body">
                            <h5 class="card-title"><b>Notice:</b></h5>
                            <p class="card-text ">
                              {%if current_user.studentOwner.credit_earned <= 45%}
                                <p>Your advisement form has been declined by Academic advisor, Please revise.</p>
                              {% else %}
                              <p>Your advisement form has been declined by Faculty advisor, Please revise.</p>
                              {%endif%}

                            </p> <a href="{{ url_for('Update_Advisement',note_id=notes.id) }}"><input type="sumbit" value="Revise Advisement Form" class="btn btn-primary btn-round-lg btn-lg"  ></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{%endif%}

{%if notes.approval == False and notes.be_advised == True %}
  <div class="container d-flex justify-content-center py-5 m-5">
    <div class="card shaodw-lg card-1">
        <div class="card-header pt-3 py-3 ml-auto border-0 ">
<!--            <svg class="cursor-pointer" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="20" height="20" viewBox="0 0 172 172" style=" fill:#000000;">-->
<!--                <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal">-->
<!--                    <path d="M0,172v-172h172v172z" fill="none"></path>-->
<!--                    <g fill="#ffffff">-->
<!--                        <path d="M33.73372,23.59961l-10.13411,10.13411l52.26628,52.26628l-52.26628,52.26628l10.13411,10.13411l52.26628,-52.26628l52.26628,52.26628l10.13411,-10.13411l-52.26628,-52.26628l52.26628,-52.26628l-10.13411,-10.13411l-52.26628,52.26628z"></path>-->
<!--                    </g>-->
<!--                </g>-->
<!--            </svg>-->
        </div>
        <div class="card-body d-flex pt-0">
            <div class="row no-gutters mx-auto justify-content-start flex-sm-row flex-column">
                <div class="col-md-4 text-center"><img class="irc_mi img-fluid mr-0" src="https://cdn4.iconfinder.com/data/icons/logistics-delivery-2-5/64/137-512.png" width="150" height="150"></div>
                <div class="col-md-8 ">
                    <div class="card border-0 ">
                        <div class="card-body">
                            <h5 class="card-title"><b>Notice:</b></h5>
                            <p class="card-text ">
                                <p>Your advisement form has been declined by Academic advisor, Please revise.</p>
                                <div class="nav justify-center">
                                  {{ form.submit(class="btn custom-button-submit") }}
                              </div>
                            </p> <a href="{{ url_for('Update_Advisement',note_id=notes.id) }}"><input type="sumbit" value="Revise Advisement Form" class="btn btn-primary btn-round-lg btn-lg"  ></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{%endif%}

</form>

<style>
.myprogress {
  min-width: 100%;
  margin: 0px auto;
  text-align: center;
  margin-top: 200px;
}


.myprogress .circle,
.myprogress .bar {
  display: inline-block;
  background: #FFF;
  width: 120px;
  height: 120px;
  border-radius: 80px;
  border: 7px solid #233B7E;

}


.myprogress .bar{
  position: relative;
  width: 80px;
  height: 5px;
  top: -5px;
  border: 0px solid #d5d5da;
  background:#000;
}

.myprogress .progress{
 position: relative;
 width: 180px;
 height: 10px;
 border: 0px solid #d5d5da;
 top: -5px;

  display: inline-flex;
  background: #FFF;

  border: 2px solid #233B7E;
}

.myprogress .circle .label {
  display: inline-block;
  width: 90px;
  height: 40px;
  line-height: 30px;
  border-radius: 40px;
  font-size: 24px;
}
.myprogress .circle .title {
  color: #b5b5ba;
  font-size: 16px;
  line-height: 100px;
}


</style>
{% endblock content %}