{% extends "layout.html" %}
{% block content %}

<div class="container d-flex justify-content-center py-5 m-5">
    <div class="card shaodw-lg card-1">
        <div class="card-header pt-3 py-3 ml-auto border-0 ">
<!--            <svg class="cursor-pointer" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="20" height="20" viewBox="0 0 172 172" style=" fill:#000000;">-->
<!--                <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal">-->
<!--                    <path d="M0,172v-172h172v172z" fill="none"></path>-->
<!--                    <g fill="#ffffff">-->
<!--                        <path d="M33.73372,23.59961l-10.13411,10.13411l52.26628,52.26628l-52.26628,52.26628l10.13411,10.13411l52.26628,-52.26628l52.26628,52.26628l10.13411,-10.13411l-52.26628,-52.26628l52.26628,-52.26628l-10.13411,-10.13411l-52.26628,52.26628z"></path>-->
<!--                    </g>-->
<!--                </g>-->
<!--            </svg>-->
        </div>
        <div class="card-body d-flex pt-0">
            <div class="row no-gutters mx-auto justify-content-start flex-sm-row flex-column">
                <div class="col-md-4 text-center"><img class="irc_mi img-fluid mr-0" src="https://cdn4.iconfinder.com/data/icons/logistics-delivery-2-5/64/137-512.png" width="150" height="150"></div>
                <div class="col-md-8 ">
                    <div class="card border-0 ">
                        <div class="card-body">
                            <h5 class="card-title"><b>Notice:</b></h5>
                            <p class="card-text ">
                                <p>You don't have any advisement form in progress.</p>
                            </p> <a href="{{ url_for('home') }}"><button type="button" class="btn btn-primary btn-round-lg btn-lg">New Advisement Form ? </button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
body {
    letter-spacing: 0.7px;
    background-color: #eee
}

.container {
<!--    margin-top: 120px;-->
<!--    margin-bottom: 120px-->
}

.btn-lg,
a:focus,
a:active {
    outline: none !important;
    box-shadow: none !important
}

.card-1 {
    box-shadow: 2px 4px 15px 0px #3872d7
}

.card-title {
    color:white;
}

p {
    font-size: 13px
}

.small {
    font-size: 9px !important
}

.cursor-pointer {
    cursor: pointer
}

.btn-round-lg {
    border-radius: 22.5px;
    background-color: #eee;
    color: #3D5AFE;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.9px;
    padding: 8px 20px 8px 20px !important;
    border: 1px solid #fff
}

.btn-round-lg:hover {
    background-color: #fff;
    color: #3D5AFE;
    border: 1px solid #fff
}

.btn-round-lg:focus {
    border: 1px solid #fff !important
}

.card {
    background-color: #366cc9 !important;
    color: white
}
</style>
{% endblock content %}